<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success" *ngIf="rest.isready">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="tailai($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="stl-card">
    Danh sách loại nhắc:
    <div class="upperline" *ngFor="let item of rest.home.spa; let i = index">
      {{item.tendanhmuc}}
      <img class="right icon" *ngIf="rest.isnumber(item.macdinh)" src="/assets/icon/rate-xs.png"
        (click)="toggleDefault(item.id, item.macdinh)">
      <img class="right icon" *ngIf="!rest.isnumber(item.macdinh)" src="/assets/icon/unrate-xs.png"
        (click)="toggleDefault(item.id, item.macdinh)">
      <img class="right icon" src="/assets/icon/info-xs.png" (click)="updateSpa(i)">
      <img class="right icon" src="/assets/icon/remove-xs.png" (click)="removeSpa(item.id)">
      <img class="right icon" *ngIf="i > 0" src="/assets/icon/up-xs.png"
        (click)="upspa(i)">
      <img class="right icon" *ngIf="i < (rest.home.spa.length - 1)" src="/assets/icon/down-xs.png"
        (click)="downspa(i)">
    </div>
    <div class="upperline">
      <img class="icon" src="/assets/icon/insert-xs.png" (click)="insertSpa()">
    </div>
  </div>

  <div class="stl-card">
    Danh sách loại nhắc:
    <div class="upperline" *ngFor="let item of loainhac; let i = index">
      {{item.code}}: {{item.name}}
      <img class="right icon" src="/assets/icon/info-xs.png" (click)="themloai(i)">
      <img class="right icon" src="/assets/icon/remove-xs.png" (click)="xoaloai(item.id)"> <br>
    </div>
    <div class="upperline">
      <img class="icon" src="/assets/icon/insert-xs.png" (click)="themloai()">
    </div>
  </div>

</ion-content>
