<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!rest.temp.id" slot="end" (click)="insert()" color="light" fill="clear" size="small">
      Thêm
    </ion-button>
    <ion-button *ngIf="rest.temp.id" slot="end" (click)="update()" color="light" fill="clear" size="small">
      Cập nhật
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <div id="pwa" style="display: none;">
    <input type="file" multiple id="pwaphoto" #pwaphoto accept="image/*" capture (change)="uploadPWA()">
  </div>

  <ion-item>
    <ion-label position="stacked"> Số điện thoại </ion-label>
    <ion-input [(ngModel)]="rest.temp.phone"> </ion-input>
    <img src="/assets/icon/customer-search.png" class="clear-img" slot="end" (click)="suggest()">
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Khách hàng </ion-label>
    <ion-input [(ngModel)]="rest.temp.name"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Số người nhận hộ (tùy chọn) </ion-label>
    <ion-input [(ngModel)]="rest.temp.phone2"> </ion-input>
    <img src="/assets/icon/customer-search.png" class="clear-img" slot="end" (click)="suggest(2)">
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Người nhận hộ (tùy chọn) </ion-label>
    <ion-input [(ngModel)]="rest.temp.name2"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Cân nặng </ion-label>
    <ion-select [(ngModel)]="rest.temp.weight">
      <ion-select-option *ngFor="let item of weight; let i = index;" [value]="i"> {{item}} </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Số con </ion-label>
    <ion-input [(ngModel)]="rest.temp.number" type="number"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Tính cách khách </ion-label>
    <ion-input [(ngModel)]="rest.temp.tinhcach"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Ghi chú </ion-label>
    <ion-input [(ngModel)]="rest.temp.note"> </ion-input>
  </ion-item>

  <img class="thumbnail" src="/assets/image/insert.png" (click)="upload()">
  <span class="thumbnail-box" *ngFor="let item of rest.temp.image; let i = index">
    <span class="thumbnail-box-icon" (click)="remove(i)"> x </span>
    <img class="thumbnail" [src]="item">
  </span>

  <!-- <ion-item>
      <ion-label> Điều trị </ion-label>
      <ion-checkbox slot="start" [(ngModel)]="rest.temp.treat"></ion-checkbox>
    </ion-item> -->
  <ion-item *ngIf="!rest.temp.id">
    <ion-label> Nhận làm </ion-label>
    <ion-checkbox slot="start" [(ngModel)]="rest.temp.did"></ion-checkbox>
  </ion-item>

  <ion-item color="danger" *ngIf="!rest.temp.id">
    <ion-label> Không làm được </ion-label>
    <ion-checkbox slot="start" [(ngModel)]="rest.temp.khonglam"></ion-checkbox>
  </ion-item>

  <div *ngIf="!rest.temp.treat">
    <ion-item class="item-label-class" *ngFor="let item of option; let i = index;">
      <ion-label> {{item.name}} </ion-label>
      <ion-checkbox slot="start" [(ngModel)]="option[i].check"></ion-checkbox>
    </ion-item>
  </div>
</ion-content>