<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success" *ngIf="rest.isready">
    <ion-button color="secondary" fill="solid" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button slot="end" color="secondary" fill="solid" size="small" (click)="uploadCheckout()">
      Tải lên
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="rest.isready">
  <div class="stl-card small">
    <div class="avatar-box" (click)="upload(3)">
      <ion-img style="max-width: 256px; margin: auto;" src="/assets/image/excel.png"></ion-img>
    </div>
    <div *ngIf="name.length" class="text-center">
      {{name}}
    </div>
    <div id="pwa" style="display: none;">
      <input type="file" id="pwaphoto3" #pwaphoto3
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        (change)="file(3)">
    </div>
  </div>
  <div class="stl-card small">
    <div class="avatar-box" (click)="upload(4)">
      <ion-img style="max-width: 256px; margin: auto;" src="/assets/image/excel.png"></ion-img>
    </div>
    <div *ngIf="name2.length" class="text-center">
      {{name2}}
    </div>
    <div id="pwa" style="display: none;">
      <input type="file" id="pwaphoto4" #pwaphoto4
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        (change)="file(4)">
    </div>
  </div>
  <table *ngIf="checkout.on">
    <tr>
      <th style="width: 25%;"> Kiotviet </th>
      <th style="width: 25%"> Vietcombank </th>
      <th style="width: 50%"> Thông tin chuyển khoản </th>
    </tr>
    <tr *ngFor="let item of checkout.pair">
      <td> {{rest.comma(item.money)}} </td>
      <td> {{rest.comma(item.money)}} </td>
      <td> {{item.content}} </td>
    </tr>
    <tr *ngFor="let item of checkout.vietcom">
      <td class="red"> {{item.time}} </td>
      <td> {{rest.comma(item.money)}} </td>
      <td> {{item.content}} </td>
    </tr>
    <tr *ngFor="let item of checkout.kiot">
      <td> {{rest.comma(item.money)}} </td>
      <td class="red"> {{item.time}} </td>
      <td> {{item.content}} </td>
    </tr>
    <tr>
      <td> {{rest.comma(total.kiot)}} </td>
      <td> {{rest.comma(total.vietcom)}} </td>
      <td> Tổng </td>
    </tr>
  </table>

  <div class="stl-card">
    <ion-list>
      <ion-list-header>
        Kiot
      </ion-list-header>

      <ion-item (click)="select('kiot', 'money')">
        <ion-label> Cột chuyển khoản: {{rest.accounting.kiot.money}} </ion-label>
      </ion-item>
      <ion-item (click)="select('kiot', 'content')">
        <ion-label> Cột nội dung: {{rest.accounting.kiot.content}} </ion-label>
      </ion-item>
      <ion-item (click)="select('kiot', 'time')">
        <ion-label> Cột thời gian: {{rest.accounting.kiot.time}} </ion-label>
      </ion-item>
    </ion-list>
    <div class="upperline">
      <ion-button (click)="save('kiot')" fill="clear">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="stl-card">
    <ion-list>
      <ion-list-header>
        Ngân hàng
      </ion-list-header>

      <ion-item (click)="select('vietcom', 'money')">
        <ion-label> Cột chuyển khoản: {{rest.accounting.vietcom.money}} </ion-label>
      </ion-item>
      <ion-item (click)="select('vietcom', 'content')">
        <ion-label> Cột nội dung: {{rest.accounting.vietcom.content}} </ion-label>
      </ion-item>
      <ion-item (click)="select('vietcom', 'time')">
        <ion-label> Cột thời gian: {{rest.accounting.vietcom.time}} </ion-label>
      </ion-item>
    </ion-list>
    <div class="upperline">
      <ion-button (click)="save('vietcom')" fill="clear">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>