<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="this.rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button *ngIf="rest.temp.action == 'in'" slot="end" (click)="in()" color="light" fill="clear">
    Lưu
  </ion-button>
  <ion-button *ngIf="rest.temp.action == 'out'" slot="end" (click)="out()" color="light" fill="clear">
    Lưu
  </ion-button>
</ion-toolbar>

<ion-content>
  <div *ngIf="rest.temp.action == 'in'">
    <ion-item>
      <ion-label position="stacked"> Lyse: {{rest.blood.current[1]}} (ML) </ion-label>
      <ion-input [(ngModel)]="number[1]"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Diluent: {{rest.blood.current[2]}} (L) </ion-label>
      <ion-input [(ngModel)]="number[2]"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Rinse: {{rest.blood.current[3]}} (L) </ion-label>
      <ion-input [(ngModel)]="number[3]"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Số đầu </ion-label>
      <ion-input [(ngModel)]="total"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="rest.temp.action == 'out'">
    <ion-item>
      <ion-label position="stacked"> Xuất hóa chất </ion-label>
      <ion-input [(ngModel)]="number2"></ion-input>
    </ion-item>
  </div>
</ion-content>