<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      {{rest.site.title}}
    </ion-title>

    <ion-buttons slot="start">
      <ion-img [src]="rest.site.logo" class="logo" (click)="this.rest.navCtrl.navigateForward('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  
  <ion-refresher slot="fixed" (ionRefresh)="tailai($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="stl-card" *ngFor="let chuyenmuc of rest.tracnghiem.danhsach">
    <div> <b> {{chuyenmuc.ten}} </b> </div>
    <div> Điểm thi cao nhất: {{chuyenmuc.diemcaonhat}} </div>
    <div> Lần thi gần nhất: {{chuyenmuc.lanthigannhat}} </div>
    <div> Điểm thi gần nhất: {{chuyenmuc.diemgannhat}} </div>
    <div> Tổng số lần thi: {{chuyenmuc.solanthi}} </div>
    <ion-row>
      <ion-col>
        <ion-button color="success" expand="full" (click)="batdauthi(chuyenmuc.id)">
          Bắt đầu thi
        </ion-button>
      </ion-col>
      <ion-col size="2" size-md="1">
        <ion-button color="secondary" expand="full" (click)="chitiet(chuyenmuc.id)">
          ⓘ
        </ion-button>
      </ion-col>
      <ion-col size="2" size-md="1" *ngIf="rest.config.tracnghiem > 1">
        <ion-button color="secondary" expand="full" (click)="capnhatchuyenmuc(chuyenmuc.id)">
          E
        </ion-button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>

<ion-toolbar *ngIf="rest.isready">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.root()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="themchuyenmuc()" *ngIf="rest.config.tracnghiem > 1">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm chuyên mục </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>