<ion-header>
  <ion-toolbar color="success">
    <ion-button slot="start" color="secondary" fill="solid" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="col-xs-6">
        <b> Tên khách </b>: {{rest.cart.list[this.rest.temp].customer}} <br>
        <b> Điện thoại </b>: {{rest.cart.list[this.rest.temp].phone}} <br>
        <b> Địa chỉ </b>: {{rest.cart.list[this.rest.temp].address}} <br>
        <b> Email </b>: {{rest.cart.list[this.rest.temp].mail}}
      </div>
      <div class="col-xs-6">
        <b> Tổng đơn </b>: {{rest.cart.list[this.rest.temp].total}} <br>
        <b> Ngày đặt </b>: {{rest.cart.list[this.rest.temp].time}} <br>
        <b> Trạng thái </b>: {{rest.cart.list[this.rest.temp].status}} <br>
        <b> Thanh toán </b>: {{rest.cart.list[this.rest.temp].method}}
      </div>
      <div>
        Ghi chú: {{rest.cart.list[this.rest.temp].note}}
      </div>
    </ion-card-header>

    <ion-card-content>
      <img class="icon" src="/assets/icon/pick.png" (click)="cartpick()">
      <img class="icon" src="/assets/icon/done.png" (click)="cartdonealert()">
      <table>
        <tr>
          <th> Mặt hàng </th>
          <th> Giá </th>
          <th> Số lượng </th>
          <th> Tổng </th>
        </tr>
        <tr *ngFor="let item of rest.cart.list[this.rest.temp].item">
          <td> {{item.name}} </td>
          <td> {{item.price}} </td>
          <td> {{item.number}} </td>
          <td> {{item.total}} </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
