<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <!-- <ion-button *ngIf="!rest.temp.id" slot="end" color="light" fill="clear" size="small" (click)="schedule()">
      Nhắc spa
    </ion-button>
    <ion-button *ngIf="rest.temp.id" slot="end" color="light" fill="clear" size="small" (click)="update()">
      Cập nhật
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <!-- <div id="pwa" style="display: none;">
    <input type="file" multiple id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()">
  </div>

  <ion-item>
    <ion-label position="stacked"> Khách hàng </ion-label>
    <ion-input [(ngModel)]="rest.temp.name"></ion-input>
    <img src="/assets/icon/customer-search.png" class="clear-img" slot="end" (click)="suggest()">
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Điện thoại </ion-label>
    <ion-input [(ngModel)]="rest.temp.phone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Ghi chú </ion-label>
    <ion-input [(ngModel)]="rest.temp.note"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Ngày nhắc </ion-label>
    <ion-datetime [(ngModel)]="rest.temp.time" displayFormat="DD/MM/YYYY" max="2100"> </ion-datetime>
  </ion-item>

  <img class="thumbnail" src="/assets/image/insert.png" (click)="upload()">
  <span class="thumbnail-box" *ngFor="let item of rest.temp.image; let i = index">
    <span class="thumbnail-box-icon" (click)="remove(i)"> x </span>
    <img class="thumbnail" [src]="item">
  </span> -->
</ion-content>
