<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button *ngIf="!(rest.temp.action == 'insert' || rest.temp.action == 'update')" color="light" fill="clear" size="small"
      (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="rest.temp.action == 'insert' || rest.temp.action == 'update'" color="light" fill="clear" size="small"
      (click)="posback()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button *ngIf="rest.temp.action == 'expire'" slot="end" (click)="insertExpire()" color="light" fill="clear" size="small">
      Thêm
    </ion-button>
    <ion-button *ngIf="rest.temp.action == 'item' && !rest.temp.id" slot="end" (click)="insertItem()" color="light" fill="clear" size="small">
      Thêm
    </ion-button>
    <ion-button *ngIf="rest.temp.action == 'item' && rest.temp.id" slot="end" (click)="updateItem()" color="light" fill="clear" size="small">
      Cập nhật
    </ion-button>

    <ion-button *ngIf="rest.action == 'item' && rest.temp.action == 'position'" slot="end" (click)="insertPosition()" color="light" fill="clear" size="small">
      Thêm vị trí
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <div id="pwa" style="display: none;">
    <input type="file" multiple id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()">
  </div>

  <div *ngIf="rest.temp.action == 'recommend'">
    <div class="stl-card">
      Nội dung: {{rest.temp.data.content}} <br>
      Số lượng: {{rest.temp.data.number}} <br>
      Khách hàng: {{rest.temp.data.name}} <br>
      Số điện thoại: {{rest.temp.data.phone}} <br>
      Người đề xuất: {{rest.temp.data.user}} <br>
      Thời gian: {{time.timetodate(rest.temp.data.time * 1000)}} <br>
    </div>
  </div>

  <div *ngIf="rest.temp.action == 'position'">
    <div class="stl-card" *ngFor="let item of rest.temp.list; let i = index">
      Vị trí: {{item.name}} <br>
      Hàng hóa: <div class="pos" *ngFor="let pos of item.position; let j = index" (click)="removePos(i, j)">
        {{pos.name}} </div>
      <div class="pos" (click)="insertPos(i)"> + </div>
      <div>
        <img class="right icon" src="/assets/icon/update.png" (click)="updatePosition(i)">
        <img class="right icon" src="/assets/icon/delete.png" (click)="removePosition(i)">
      </div>
    </div>
  </div>

  <div *ngIf="rest.temp.action == 'expire'">
    <ion-item>
      <ion-label position="stacked"> Mã hàng hóa </ion-label>
      <ion-input [(ngModel)]="rest.temp.code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Tên hàng </ion-label>
      <ion-input [(ngModel)]="rest.temp.name"> </ion-input>
      <img src="/assets/icon/item-search.png" class="clear-img" slot="end" (click)="suggest()">
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ngày hết hạn </ion-label>
      <ion-input [(ngModel)]="rest.temp.expire"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Số lượng </ion-label>
      <ion-input [(ngModel)]="rest.temp.number"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="rest.temp.action == 'item'">
    <ion-item>
      <ion-label position="stacked"> Mã hàng hóa </ion-label>
      <ion-input [(ngModel)]="rest.temp.code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Tên hàng hóa </ion-label>
      <ion-input [(ngModel)]="rest.temp.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Giới hạn (Tồn < giới hạn => nhập hàng) </ion-label>
      <ion-input [(ngModel)]="rest.temp.border"></ion-input>
    </ion-item>

    <div class="stl-card">
      <div>
        Vị trí: <span *ngFor="let item of rest.temp.position; let i = index" class="pos" (click)="removeItemPos(i)"> {{item.name}} </span>
        <div class="pos" (click)="insertItemPos()"> + </div>
      </div>
      
      <div class="upperline">
        Nguồn cung: <span *ngFor="let item of rest.temp.source; let i = index" class="pos" (click)="removeItemSource(i)"> {{item.name}} </span>
        <div class="pos" (click)="insertItemSource()"> + </div>
      </div>
    </div>
    
    <img class="thumbnail" src="/assets/image/insert.png" (click)="upload()">
    <span class="thumbnail-box" *ngFor="let item of rest.temp.image; let i = index">
      <span class="thumbnail-box-icon" (click)="remove(i)"> x </span>
      <img class="thumbnail" [src]="item">
    </span>
  </div>

  <div *ngIf="rest.temp.action == 'purchase' && rest.temp.step == 1">
    <ion-item *ngFor="let item of rest.temp.list; let i = index">
      <ion-label> {{item.name}}: {{item.number}} </ion-label>
      <!-- <ion-checkbox slot="start" [(ngModal)]="rest.temp.list[i].check"></ion-checkbox> -->
    </ion-item>
  </div>

  <div *ngIf="rest.temp.action == 'transfer' && rest.temp.step == 1">
    <div class="stl-card" *ngFor="let item of rest.item.list; let i = index">
      Tên hàng: {{item.name}} <br>
      Tồn kho: {{item.shop}} <img src="/assets/icon/shop-xs.png">, {{item.storage}} <img
        src="/assets/icon/storage-xs.png"> <br>
      Vị trí: <div class="pos" *ngFor="let pos of item.position" (click)="view(pos.id)"> {{pos.name}} </div>
    </div>

    <ion-item *ngFor="let item of rest.temp.list; let i = index">
      <ion-label> {{item.name}}: {{item.shop}} <img src="/assets/icon/shop-xs.png">, {{item.storage}} <img
          src="/assets/icon/storage-xs.png"> </ion-label>
      <!-- <ion-checkbox slot="start" [(ngModal)]="rest.temp.list[i].check"></ion-checkbox> -->
    </ion-item>
  </div>

  <div *ngIf="rest.temp.action == 'expired' && rest.temp.step == 1">
    <ion-item *ngFor="let item of rest.temp.list; let i = index">
      <ion-label> {{item.name}}: {{item.expire}} </ion-label>
      <ion-button color="primary" (click)="done(item.id)">
        xong
      </ion-button>
      <!-- <ion-checkbox slot="start" [(ngModal)]="rest.temp.list[i].check"></ion-checkbox> -->
    </ion-item>
  </div>
</ion-content>