<ion-header>
  <ion-toolbar color="success">
    <ion-button *ngIf="!(rest.temp.action == 'insert' || rest.temp.action == 'update')" color="secondary" fill="solid" size="small"
      (click)="rest.navCtrl.pop()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="rest.temp.action == 'insert' || rest.temp.action == 'update'" color="secondary" fill="solid" size="small"
      (click)="posback()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button *ngIf="rest.temp.action == 'expire'" slot="end" (click)="insertExpire()" color="secondary" fill="solid" size="small">
      Thêm
    </ion-button>
    <ion-button *ngIf="rest.temp.action == 'item' && !rest.temp.id" slot="end" (click)="insertItem()" color="secondary" fill="solid" size="small">
      Thêm
    </ion-button>
    <ion-button *ngIf="rest.temp.action == 'item' && rest.temp.id" slot="end" (click)="updateItem()" color="secondary" fill="solid" size="small">
      Cập nhật
    </ion-button>

    <ion-button *ngIf="rest.action == 'item' && rest.temp.action == 'position'" slot="end" (click)="insertPosition()" color="secondary" fill="solid" size="small">
      Thêm vị trí
    </ion-button>

    <!-- <ion-button *ngIf="rest.temp.action == 'purchase' && rest.temp.step == 1" slot="end" (click)="purchase()" color="secondary" fill="solid" size="small">
    Lưu
  </ion-button> -->
    <!-- <ion-button *ngIf="rest.temp.action == 'purchase' && rest.temp.step == 2" slot="end" (click)="excelPurchase()" color="secondary" fill="solid" size="small">
    Excel
  </ion-button>
  <ion-button *ngIf="rest.temp.action == 'purchase' && rest.temp.step == 2" slot="end" (click)="copyPurchase()" color="secondary" fill="solid" size="small">
    Copy
  </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="pwa" style="display: none;">
    <input type="file" multiple id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()">
  </div>

  <div *ngIf="rest.temp.action == 'position'">
    <div class="stl-card" *ngFor="let item of rest.temp.list; let i = index">
      Vị trí: {{item.name}} <br>
      Hàng hóa: <div class="pos" *ngFor="let pos of item.position; let j = index" (click)="removePos(i, pos.id)">
        {{pos.name}} </div>
      <div class="pos" (click)="insertPos(i)"> + </div>
      <div>
        <img class="right icon" src="/assets/icon/update.png" (click)="updatePosition(i)">
        <img class="right icon" src="/assets/icon/delete.png" (click)="removePosition(i)">
      </div>
    </div>
  </div>

  <div *ngIf="rest.temp.action == 'expire'">
    <ion-item>
      <ion-label position="stacked"> Hàng hóa </ion-label>
      <ion-input [(ngModel)]="rest.temp.name"> </ion-input>
      <img src="/assets/icon/item-search.png" class="clear-img" slot="end" (click)="suggest()">
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Mã hàng hóa </ion-label>
      <ion-input [(ngModel)]="rest.temp.code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ngày hết hạn </ion-label>
      <ion-input [(ngModel)]="rest.temp.expire"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Số lượng </ion-label>
      <ion-input [(ngModel)]="rest.temp.number"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="rest.temp.action == 'item'">

    <ion-item>
      <ion-label position="stacked"> Tên hàng hóa </ion-label>
      <ion-input [(ngModel)]="rest.temp.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Mã hàng hóa </ion-label>
      <ion-input [(ngModel)]="rest.temp.code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Danh mục </ion-label>
      <ion-select [(ngModel)]="rest.temp.cat">
        <ion-select-option *ngFor="let item of rest.item.catlist" [value]="item.id"> {{item.name}} </ion-select-option>
      </ion-select>
      <button slot="end" (click)="insertCat()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Giới hạn chuyển/nhập hàng </ion-label>
      <ion-input [(ngModel)]="rest.temp.border"></ion-input>
    </ion-item>

    <img class="thumbnail" src="/assets/image/insert.png" (click)="upload()">
    <span class="thumbnail-box" *ngFor="let item of rest.temp.image; let i = index" (click)="remove(i)">
      <img class="thumbnail" [src]="item">
    </span>
  </div>

  <div *ngIf="rest.temp.action == 'purchase' && rest.temp.step == 1">
    <ion-item *ngFor="let item of rest.temp.list; let i = index">
      <ion-label> {{item.name}}: {{item.number}} </ion-label>
      <!-- <ion-checkbox slot="start" [(ngModal)]="rest.temp.list[i].check"></ion-checkbox> -->
    </ion-item>
  </div>

  <div *ngIf="rest.temp.action == 'transfer' && rest.temp.step == 1">
    <div class="stl-card" *ngFor="let item of rest.item.list; let i = index">
      Tên hàng: {{item.name}} <br>
      Tồn kho: {{item.shop}} <img src="/assets/icon/shop-xs.png">, {{item.storage}} <img
        src="/assets/icon/storage-xs.png"> <br>
      Vị trí: <div class="pos" *ngFor="let pos of item.position" (click)="view(pos.id)"> {{pos.name}} </div>
    </div>

    <ion-item *ngFor="let item of rest.temp.list; let i = index">
      <ion-label> {{item.name}}: {{item.shop}} <img src="/assets/icon/shop-xs.png">, {{item.storage}} <img
          src="/assets/icon/storage-xs.png"> </ion-label>
      <!-- <ion-checkbox slot="start" [(ngModal)]="rest.temp.list[i].check"></ion-checkbox> -->
    </ion-item>
  </div>

  <div *ngIf="rest.temp.action == 'expired' && rest.temp.step == 1">
    <ion-item *ngFor="let item of rest.temp.list; let i = index">
      <ion-label> {{item.name}}: {{item.expire}} </ion-label>
      <ion-button color="primary" (click)="done(item.id)">
        xong
      </ion-button>
      <!-- <ion-checkbox slot="start" [(ngModal)]="rest.temp.list[i].check"></ion-checkbox> -->
    </ion-item>
  </div>
</ion-content>