<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success" *ngIf="rest.isready">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button slot="end" color="light" fill="clear" size="small" (click)="capnhatdethi()">
      Cập nhật
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item>
    <ion-label position="stacked"> Tên đề thi </ion-label>
    <ion-input [(ngModel)]="rest.temp.tendethi"> </ion-input>
  </ion-item>

  <ion-item color="secondary">
    Danh sách chuyên mục
  </ion-item>
  <ion-item *ngFor="let chuyenmuc of rest.tracnghiem.chuyenmuc">
    <ion-label>{{chuyenmuc.tenchuyenmuc}}</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="rest.temp.danhsachchuyenmuc[chuyenmuc.id]"></ion-checkbox>
  </ion-item>
</ion-content>