.pos.yellow {
  background: pink;
}
.pos.yellow {
  background: wheat;
}
ion-badge {
  position: absolute;
  margin-left: 30px;
  margin-top: -15px;
}
.posx.side {
  background: pink;
  float: right;
}

ion-item {
  position: fixed;
  width: 100%;
  bottom: 1px;
}

.posx {
  display: block;
  width: 50%;
  clear: both;
}

.posttime {
  font-size: 0.7em;
  margin-left: 10px;
  clear: both;
}

.x .posttime {
  float: right;
}

.inp {
  height: 55px;
}