<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <!-- <ion-button slot="end" (click)="update()" color="light" fill="clear" *ngIf="rest.detail.insult < 1">
      Cập nhật
    </ion-button> -->
    <ion-button slot="end" (click)="insert()" color="light" fill="clear" *ngIf="rest.detail.insult < 1">
      Thêm liệu trình
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <div class="stl-card blue">
    <div class="col-xs-6">
      Khách hàng: {{rest.detail.customer}} <br>
      Điện thoại: {{rest.detail.phone}} <br>
      Thú cưng: {{rest.detail.pet}}
    </div>
    <div class="col-xs-6">
      Người nhận: {{rest.detail.doctor}} <br>
      Ngày nhận: {{rest.detail.time}} <br>
      Tình trạng bệnh: {{status[rest.detail.status].name}}
    </div>
    <div class="upperline">
      Tiền sử bệnh: {{rest.detail.his}} <img src="/assets/icon/insert-xs.png" (click)="insertHis()">
    </div>
  </div>

  <div class="stl-card" *ngFor="let detail of rest.detail.detail; let i = index">
    <div class="col-xs-6">
      Người làm: {{detail.doctor}} <br>
      Ngày làm: {{detail.time}} <br>
      Tình trạng: {{status[detail.status].name}}
    </div>
    <div class="col-xs-6">
      <b>Niêm mạc: </b> {{detail.eye}} <br>
      <b>Nhiệt độ: </b> {{detail.temperate}} <br>
      <b>Triệu chứng: </b> {{detail.other}} <br>
      <b>Thuốc điều trị: </b> {{detail.treat}}
    </div>
    <div class="upperline">
      <img *ngIf="rest.config.his > 1" class="right icon" src="/assets/icon/update.png" (click)="update(i)">
    </div>
  </div>
</ion-content>
