<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success" *ngIf="rest.isready">
    <ion-button color="secondary" fill="solid" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="insert()">
    <ion-fab-button>
      Thêm
    </ion-fab-button>
  </ion-fab>

  <div class="stl-card white" style="width: 50%" *ngFor="let user of rest.admin.list; let i = index">
    Tên hiển thị: {{user.name}} <br>
    Họ và tên: {{user.fullname}} <br>
    Tài khoản: {{user.username}} <br>
    <img class="icon" src="/assets/icon/update.png" (click)="detail(i)">
    <img class="icon" src="/assets/icon/delete.png" (click)="remove(user.userid)">
    <img class="icon" *ngIf="user.module.doctor == '1'" src="/assets/icon/doctor-on.png" (click)="toggleDoctor(user.userid)">
    <img class="icon" *ngIf="!isNumber(user.module.doctor)" src="/assets/icon/doctor-off.png" (click)="toggleDoctor(user.userid)">
    <img class="icon" *ngIf="user.module.manager == '1'" src="/assets/icon/manager-on.png" (click)="toggleManager(user.userid)">
    <img class="icon" *ngIf="!isNumber(user.module.manager)" src="/assets/icon/manager-off.png" (click)="toggleManager(user.userid)">
    <img class="icon" *ngIf="user.module.admin == '1'" src="/assets/icon/admin-on.png" (click)="toggleAdmin(user.userid)">
    <img class="icon" *ngIf="!isNumber(user.module.admin)" src="/assets/icon/admin-off.png" (click)="toggleAdmin(user.userid)">
  </div>
  <div>
    <img class="icon" src="/assets/icon/doctor-on.png"> Nhân viên được liệt kê vào danh sách bác sĩ <br>
    <img class="icon" src="/assets/icon/manager-on.png"> Nhân viên không hạn chế đăng ký lịch nghỉ <br>
    <img class="icon" src="/assets/icon/admin-on.png"> Nhân viên có khả năng cấp quyền nhân viên khác
  </div>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
