<!-- <ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" color="light" fill="clear" size="small" (click)="save()">
      <span *ngIf="rest.temp.id"> Cập nhật </span>
      <span *ngIf="!rest.temp.id"> Lưu </span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <div id="pwa" style="display: none;">
    <input type="file" id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()">
  </div>

  <ion-item>
    <ion-label position="stacked"> Nội dung đề xuất </ion-label>
    <ion-input [(ngModel)]="rest.temp.content"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Số lượng </ion-label>
    <ion-input [(ngModel)]="rest.temp.number"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Khách hàng </ion-label>
    <ion-input [(ngModel)]="rest.temp.name"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Điện thoại </ion-label>
    <ion-input [(ngModel)]="rest.temp.phone"> </ion-input>
  </ion-item>

  <span class="thumbnail-box"> <img class="thumbnail" src="/assets/image/insert.png" (click)="upload()"> </span>
  <span class="thumbnail-box" *ngFor="let item of rest.temp.image; let i = index">
    <span class="thumbnail-box-icon" (click)="remove(i)"> x </span>
    <img class="thumbnail" [src]="item">
  </span>
</ion-content> -->
