<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success" *ngIf="rest.isready">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    
    <ion-button color="light" slot="end" fill="clear" size="small" (click)="them()">
      Thêm
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <div id="pwa" style="display: none;">
    <input type="file" multiple id="pwaphoto" #pwaphoto accept="image/*" capture (change)="uploadPWA()">
  </div>

  <ion-item>
    <ion-label position="stacked"> Tên kiểu </ion-label>
    <ion-input [(ngModel)]="rest.temp.ten"> </ion-input>
  </ion-item>
  
  <img class="thumbnail" [src]="rest.temp.image.length ? rest.temp.image : '/assets/image/insert.png'" (click)="upload()">
</ion-content>
