<!-- <ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button color="light" slot="end" fill="clear" size="small" (click)="save()">
      Lưu
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-list>
    <ion-item *ngFor="let item of list; let i = index">
      <ion-label position="stacked">{{item.name}}</ion-label>
      <ion-input type="number" [(ngModel)]="list[i].number"></ion-input>
      <ion-button slot="end" color="danger" (click)="remove(i)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content> -->
