<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-refresher slot="fixed" (ionRefresh)="tailai($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="stl-card" *ngFor="let canhbao of danhsach">
    Hàng hoá: {{canhbao.tenhang}} <br>
    Số lượng: {{canhbao.soluong}} <br>
    Giá bán: {{canhbao.giaban}} <br>
    Cảnh báo: {{canhbao.thongtin}}
  </div>

  <div class="stl-card text-center" *ngIf="!danhsach.length">
    Không có cảnh báo nào
  </div>
</ion-content>