<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button slot="end" *ngIf="!rest.temp.id" color="light" fill="clear" size="small" (click)="insert()">
      Thêm
    </ion-button>
    <ion-button slot="end" *ngIf="rest.temp.id" color="light" fill="clear" size="small" (click)="update()">
      Cập nhật
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item>
    <ion-label position="stacked"> Tên hàng hóa </ion-label>
    <ion-input [(ngModel)]="rest.temp.name">  </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Đơn vị </ion-label>
    <ion-input [(ngModel)]="rest.temp.unit">  </ion-input>
  </ion-item>
  <div *ngFor="let item of rest.temp.detail; let i = index">
    <ion-item class="item-label-class">
      <ion-icon color="danger" name="close-circle" (click)="remove(i)"></ion-icon>
      <ion-label position="stacked"> Số lượng </ion-label>
      <ion-input [(ngModel)]="rest.temp.detail[i].name">  </ion-input>
    </ion-item>
    <ion-item class="item-label-class">
      <ion-label position="stacked"> Đơn giá </ion-label>
      <ion-input [(ngModel)]="rest.temp.detail[i].price" (ionChange)="change(i)">  </ion-input>
    </ion-item>
  </div>
  <ion-item>
    <ion-icon color="success" name="add-circle" (click)="add()"></ion-icon>
  </ion-item>
</ion-content>
