<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>

  <ion-button slot="end" color="light" fill="clear" (click)="done()">
    Xác nhận
  </ion-button>
</ion-toolbar>

<ion-content>
  <div id="pwa" style="display: none;">
    <input type="file" multiple id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()">
  </div>

  <div class="text-center" style="color: red; font-size: 1.2em; font-weight: bold;">
    <div *ngIf="rest.temp.action == 'done'">
      Đã hoàn thành mục spa, xác nhận?
    </div>
    <div *ngIf="rest.temp.action == 'called'">
      Đã gọi cho khách, xác nhận?
    </div>
    <div *ngIf="rest.temp.action == 'returned'">
      Thú cưng đã đón về, xác nhận?
    </div>
  </div>

  <div *ngIf="!rest.temp.duser && rest.spa.doctor.length">
    <div class="text-center" style="color: red; font-size: 1.2em; font-weight: bold;">
      Báo cáo hoàn thành
    </div>

    <img class="thumbnail" src="/assets/image/insert.png" (click)="upload()">
    <div class="thumbnail-box" *ngFor="let item of rest.temp.image; let i = index" (click)="remove(i)">
      <img class="thumbnail" [src]="item">
    </div>

    <ion-list>
      <ion-radio-group [(ngModel)]="rest.temp.uid">
        <ion-item *ngFor="let doctor of rest.spa.doctor">
          <ion-label> {{doctor.name}} </ion-label>
          <ion-radio slot="start" [value]="doctor.userid"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
</ion-content>
