<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success" *ngIf="rest.isready">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button slot="end" color="light" fill="clear" (click)="them()">
      <span *ngIf="rest.temp.id"> Cập nhật </span>
      <span *ngIf="!rest.temp.id"> Thêm </span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <div id="pwa" style="display: none;">
    <input type="file" multiple id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()">
  </div>

  <ion-item>
    <ion-label position="stacked"> Tên thiết bị </ion-label>
    <ion-input [(ngModel)]="rest.temp.ten"> </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked"> Công dụng </ion-label>
    <ion-textarea [(ngModel)]="rest.temp.congdung" cols="4"> </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Link youtube </ion-label>
    <ion-input [(ngModel)]="rest.temp.link"> </ion-input>
  </ion-item>

  <img class="thumbnail" src="/assets/image/insert.png" (click)="upload()" *ngIf="!rest.temp.hinhanh.length">
  <img class="thumbnail" [src]="rest.temp.hinhanh" (click)="upload()" *ngIf="rest.temp.hinhanh.length">
</ion-content>