<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      {{rest.site.title}}
    </ion-title>

    <ion-buttons slot="start">
      <ion-img [src]="rest.site.logo" class="logo" (click)="rest.root()"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item>
    <ion-label position="stacked"> Tên voucher </ion-label>
    <ion-input [(ngModel)]="tukhoa"> </ion-input>
  </ion-item>

  <ion-button expand="full" color="secondary" (click)="tracuuvoucher()">
    Tra cứu voucher
  </ion-button>

  <ion-refresher slot="fixed" (ionRefresh)="tailai($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="stl-card" *ngFor="let voucher of rest.voucher.danhsach; let i = index">
    <ion-img [src]="voucher.hinhanh.length ? voucher.hinhanh : '/assets/image/no-image.png'"></ion-img>
    <div> <b> {{voucher.ten}} </b> </div>
    <div> Hạn sử dụng: {{voucher.hansudung}} ngày </div>
    <div> Còn hạn: {{voucher.conhan}} </div>
    <div> Hết hạn: {{voucher.hethan}} </div>
    <div> Tổng: {{voucher.tong}} </div>
    <div class="upperline"></div>
    <img class="icon" src="/assets/icon/delete.png" (click)="xoa(voucher.id)">
    <img class="icon" src="/assets/icon/update.png" (click)="capnhatvoucher(i)">
  </div>

  <div class="stl-card text-center" *ngIf="!rest.voucher.danhsach">
    Không có voucher nào
  </div>
</ion-content>

<ion-toolbar *ngIf="rest.isready">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.root()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="themvoucher()">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="cauhinh()">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label> Cấu hình </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="thongke()">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label> Thống kê </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>