<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!rest.temp.temp && !rest.temp.id" slot="end" (click)="insert()" color="light" fill="clear">
      Thêm
    </ion-button>
    <ion-button *ngIf="!rest.temp.temp && rest.temp.id && rest.temp.detailid" slot="end" (click)="update()" color="light" fill="clear">
      Cập nhật
    </ion-button>
    <ion-button *ngIf="!rest.temp.temp && rest.temp.id && !rest.temp.detailid" slot="end" (click)="insertDetail()" color="light" fill="clear">
      Thêm liệu trình
    </ion-button>
    <ion-button *ngIf="rest.temp.temp" slot="end" (click)="confirm()" color="light" fill="clear">
      Thêm & xác nhận
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <div id="pwa" style="display: none;">
    <input type="file" multiple id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()">
  </div>

  <ion-item>
    <ion-label position="stacked"> Số điện thoại </ion-label>
    <ion-input [(ngModel)]="rest.temp.phone" [disabled]="rest.temp.id"> </ion-input>
    <img src="/assets/icon/customer-search.png" [class]="rest.temp.id ? 'none clear-img': 'clear-img'" slot="end"
      (click)="suggest()">
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Khách hàng </ion-label>
    <ion-input [(ngModel)]="rest.temp.name" [disabled]="rest.temp.id"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Thú cưng </ion-label>
    <ion-input [(ngModel)]="rest.temp.pet" [disabled]="rest.temp.id"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Ngày điều trị </ion-label>
    <ion-datetime [(ngModel)]="rest.temp.time" #cometime displayFormat="DD/MM/YYYY" max="2100">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Niêm mạc </ion-label>
    <ion-input [(ngModel)]="rest.temp.eye"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Nhiệt độ </ion-label>
    <ion-input [(ngModel)]="rest.temp.temperate"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Triệu chứng </ion-label>
    <ion-input [(ngModel)]="rest.temp.other"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Thuốc điều trị </ion-label>
    <ion-input [(ngModel)]="rest.temp.treat"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Sức khỏe </ion-label>
    <ion-select [(ngModel)]="rest.temp.status">
      <ion-select-option *ngFor="let item of status" [value]="item.id">
        {{item.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  
  <span class="thumbnail-box"> <img class="thumbnail" src="/assets/image/insert.png" (click)="upload()"> </span>
  <span class="thumbnail-box" *ngFor="let item of rest.temp.image; let i = index" (click)="remove(i)">
    <img class="thumbnail" [src]="item">
  </span>
  <div></div>
</ion-content>