<ion-toolbar color="success">
  <ion-button slot="start" color="light" fill="clear" (click)="rest.back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <!-- <ion-button slot="end" (click)="vaccine()" color="light" fill="clear">
    Lọc
  </ion-button> -->
</ion-toolbar>

<ion-content>
  <div *ngIf="rest.action == 'vaccine'">
    <div class="stl-card" *ngFor="let item of rest.vaccine.search">
      <div class="col-xs-6">
        Tên khách: {{item.name}} <br>
        Điện thoại: {{item.phone}}
      </div>
      <div class="col-xs-6">
        Tái chủng: {{item.calltime}} <br>
        Vaccine: {{item.vaccine}} <br>
        <div class="line">
          <span *ngIf="item.recall"> Gọi cuối: {{item.recall}} </span>
        </div>
      </div>
      <div class="line">
        <div *ngIf="item.note">
          Ghi chú: {{item.note}}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="rest.action == 'spa'">
    <div *ngFor="let item of this.rest.spa.old; let i = index" class="stl-card green">
      <div class="col-xs-6">
        Tên khách: {{item.name}} <br>
        Điện thoại: {{item.phone}} <br>
      </div>
      <div class="col-xs-6">
        Người nhận: {{item.duser}} <br>
        Thời gian nhận: {{item.time}} <br>
      </div>
      <div class="upperline">
        Dịch vụ: {{item.service}}
      </div>
      <div>
        Ghi chú: {{item.note}}
      </div>

      <div *ngIf="item.image.length">
        <img class="thumbnail-sm" *ngFor="let image of item.image" [src]="image" (click)="detail(image)">
      </div>
    </div>
  </div>

  <div *ngIf="rest.action == 'usg'">
    <div class="stl-card" *ngFor="let item of rest.usg.search">
      <div class="col-xs-6">
        Tên khách: {{item.name}} <br>
        Điện thoại: {{item.phone}} <br>
        Địa chỉ: {{item.address}}
      </div>
      <div class="col-xs-6">
        Siêu âm lại: {{item.calltime}} <br>
        Thai dự kiến: {{item.number}} <br>
        Gọi cuối: {{item.recall}}
      </div>
      <div>
        Ghi chú: {{item.note}}
      </div>
    </div>
  </div>
</ion-content>