<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="rest.root()"></ion-img>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-icon name="information-circle-outline" (click)="rest.manual('spa')"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <div class="avatar-box text-center">
    <ion-img src="assets/image/avatar.png"></ion-img>
    <ion-text> {{rest.home.name}} </ion-text> <ion-icon name="create-outline" (click)="editName()"></ion-icon>
  </div>
  <ion-list>
    <ion-item (click)="password = !password">
      <ion-icon name="lock-open-outline"></ion-icon>
      Đổi mật khẩu
    </ion-item>
    <div [hidden]="password">
      <ion-item>
        <ion-label position="stacked"> Mật khẩu cũ </ion-label>
        <ion-input type="password" [(ngModel)]="oldpas"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"> Mật khẩu mới </ion-label>
        <ion-input type="password" [(ngModel)]="newpas"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"> Xác nhận mật khẩu mới </ion-label>
        <ion-input type="password" [(ngModel)]="verpas"> </ion-input>
      </ion-item>
      <ion-button color="secondary" fill="solid" expand="block" (click)="changePassword()">
        Đổi mật khẩu
      </ion-button>
    </div>
    <ion-item *ngIf="rest.home.admin" (click)="rest.navCtrl.navigateForward('admin')">
      <ion-icon name="body-outline"></ion-icon>
      Phân quyền
    </ion-item>
    
    <ion-item *ngIf="rest.home.admin" (click)="change('vaccine')">
      <ion-icon name="cloud-upload-outline"></ion-icon>
      Import Vaccine
    </ion-item>

    <ion-item *ngIf="rest.home.admin" (click)="change('item')">
      <ion-icon name="cloud-upload-outline"></ion-icon>
      Import Hàng hóa
    </ion-item>

    <ion-item *ngIf="rest.home.admin" (click)="change('spa')">
      <ion-icon name="document-text-outline"></ion-icon>
      Dịch vụ SPA
    </ion-item>

    <ion-item *ngIf="rest.home.admin" (click)="change('usg')">
      <ion-icon name="document-text-outline"></ion-icon>
      Mã import siêu âm
    </ion-item>

    <ion-item *ngIf="rest.home.admin" (click)="change('type')">
      <ion-icon name="document-text-outline"></ion-icon>
      Loại nhắc vaccine
    </ion-item>

    <!-- <ion-item *ngIf="rest.home.admin" (click)="change('doctor')">
      <ion-icon name="people-circle-outline"></ion-icon>
      Bác sĩ
    </ion-item> -->

    <ion-item (click)="rest.logout()">
      <ion-icon name="exit-outline" color="danger"></ion-icon>
      Đăng xuất
    </ion-item>
  </ion-list>
</ion-content>
