<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success" *ngIf="rest.isready">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item class="item-label-class">
    <ion-label position="stacked"> Từ ngày </ion-label>
    <ion-datetime [(ngModel)]="rest.nhantin.batdau" displayFormat="DD/MM/YYYY" max="2100" (ionChange)="khoitao()">
    </ion-datetime>
  </ion-item>

  <ion-item class="item-label-class">
    <ion-label position="stacked"> Đến ngày </ion-label>
    <ion-datetime [(ngModel)]="rest.nhantin.ketthuc" displayFormat="DD/MM/YYYY" max="2100" (ionChange)="khoitao()">
    </ion-datetime>
  </ion-item>

  <div class="pos" *ngFor="let ngay of rest.nhantin.chonngay" (click)="chonngay(ngay.batdau, ngay.ketthuc)">{{ngay.ten}}</div>
  <br>
  <div *ngFor="let nhom of rest.nhantin.thongke.nhomnhantin; let i = index" [class]="nhom.tick > 0 ? 'pos' : 'pos gray'" (click)="chonnhom(i)"> {{nhom.name}}</div>
  <!-- <div [class]="sieuam ? 'pos' : 'pos gray'" (click)="chonsieuam()"> siêu âm </div> -->

  <ion-refresher slot="fixed" (ionRefresh)="tailai($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <canvas id="bieudo">{{bieudo}}</canvas>

  <div class="stl-card">
    <div class="text-center" *ngIf="!rest.nhantin.thongke.danhsachkhongden.length"> Không có danh sách </div>
    <div class="upperline" *ngFor="let nhantin of rest.nhantin.thongke.danhsachkhongden">
      Khách hàng: {{nhantin.khachhang}} <br>
      Điện thoại: {{nhantin.dienthoai}} <br>
      <div *ngIf="nhantin.loai"> {{nhantin.loai}} </div>
      Người làm: {{nhantin.nhanvien}} <br>
      <!-- <div *ngIf="sieuam">
        <div *ngIf="nhantin.xogiun.length"> Ngày xổ giun: {{nhantin.xogiun}} </div>
        <div *ngIf="nhantin.vaccinetime.length"> Ngày tiêm vaccine: {{nhantin.vaccinetime}} </div>
        <div> Đã sinh: {{nhantin.dade}} </div>
        <div> Số con: {{nhantin.number}} </div>
      </div> -->
    </div>
  </div>
</ion-content>
