.upperline:first-child {
  border: unset;
  margin-top: 0px;
  padding-top: 0px;
}

.stl-card-header {
  background: pink;
  margin: -5px;
  margin-bottom: 5px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}