<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success" *ngIf="rest.isready">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item class="item-label-class">
    <ion-label position="stacked"> Từ ngày </ion-label>
    <ion-datetime [(ngModel)]="rest.nhantin.batdau" displayFormat="DD/MM/YYYY" max="2100" (ionChange)="khoitao()">
    </ion-datetime>
  </ion-item>

  <ion-item class="item-label-class">
    <ion-label position="stacked"> Đến ngày </ion-label>
    <ion-datetime [(ngModel)]="rest.nhantin.ketthuc" displayFormat="DD/MM/YYYY" max="2100" (ionChange)="khoitao()">
    </ion-datetime>
  </ion-item>

  <div class="pos" *ngFor="let ngay of rest.nhantin.chonngay" (click)="chonngay(ngay.batdau, ngay.ketthuc)">{{ngay.ten}}
  </div>
  <br>
  <div *ngFor="let nhom of rest.nhantin.thongke.nhomnhantin; let i = index" [class]="nhom.tick > 0 ? 'pos' : 'pos gray'"
    (click)="chonnhom(i)"> {{nhom.name}}</div>
  <!-- <div [class]="sieuam ? 'pos' : 'pos gray'" (click)="chonsieuam()"> siêu âm </div> -->

  <ion-refresher slot="fixed" (ionRefresh)="tailai($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <canvas id="bieudo">{{bieudo}}</canvas>

  <ion-item color="secondary">
    Khách không đến: {{rest.nhantin.thongke.tongkhongden}}/{{rest.nhantin.thongke.tongkhach}} ({{rest.nhantin.thongke.tile}}%)
  </ion-item>

  <div class="stl-card" *ngIf="!rest.nhantin.thongke.danhsachkhongden.length">
    <div class="text-center"> Không có danh sách </div>
  </div>

  <div class="stl-card" *ngFor="let nhanvien of rest.nhantin.thongke.danhsachkhongden">
    <div class="stl-card-header" (click)="nhanvien.morong = !nhanvien.morong"> {{nhanvien.ten}} ({{nhanvien.danhsach.length}}) </div>

    <div *ngIf="nhanvien.morong">
      <div class="upperline" *ngFor="let nhantin of nhanvien.danhsach">
        <ion-row>
          <ion-col>
            Khách hàng: {{nhantin.khachhang}} <br>
            Ngày đến: {{nhantin.ngayden}} <br>
          </ion-col>
          <ion-col>
            Điện thoại: {{nhantin.dienthoai}} <br>
            Ngày nhắc: {{nhantin.ngaynhac}} <br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Loại nhắc: {{nhantin.loai}} <br>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="sieuam">
        <div *ngIf="nhantin.xogiun.length"> Ngày xổ giun: {{nhantin.xogiun}} </div>
        <div *ngIf="nhantin.vaccinetime.length"> Ngày tiêm vaccine: {{nhantin.vaccinetime}} </div>
        <div> Đã sinh: {{nhantin.dade}} </div>
        <div> Số con: {{nhantin.number}} </div>
      </div> -->
</ion-content>