<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      {{rest.site.title}}
    </ion-title>

    <ion-buttons slot="start">
      <ion-img [src]="rest.site.logo" class="logo" (click)="this.rest.navCtrl.navigateForward('/home')"></ion-img>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-img src="assets/icon/manual.png" (click)="rest.goManual('blood')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <ion-segment [(ngModel)]="rest.other.s">
      <ion-segment-button value="1"> Cần Xét nghiệm </ion-segment-button>
      <ion-segment-button value="2"> Hoàn thành </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div *ngIf="rest.other.s == '1'">
    <div class="stl-card" *ngFor="let item of rest.other.need; let i = index">
      <div (click)="exam(i)">
        Khách hàng: {{item.name}} <br>
        Điện thoại: {{item.phone}} <br>
        Loại xét nghiệm: {{item.exam}} <br>
        <div class="upperline" *ngIf="item.image.length">
          <img class="thumbnail-sm" *ngFor="let image of item.image" [src]="image" (click)="rest.view(image)">
        </div>
      </div>
      <div class="upperline">
        <img class="icon" src="/assets/icon/delete.png" (click)="removeneed(item.id)">
      </div>
    </div>
  </div>

  <div *ngIf="rest.other.s == '2'">
    <ion-item class="item-label-class">
      <ion-label position="stacked"> Từ ngày </ion-label>
      <ion-datetime [(ngModel)]="rest.other.start" displayFormat="DD/MM/YYYY" max="2100"> </ion-datetime>
    </ion-item>
    <ion-item class="item-label-class">
      <ion-label position="stacked"> Đến ngày </ion-label>
      <ion-datetime [(ngModel)]="rest.other.end" displayFormat="DD/MM/YYYY" max="2100"> </ion-datetime>
    </ion-item>
    <ion-button expand="full" (click)="init()">
      Lọc dữ liệu
    </ion-button>

    <div class="stl-card" *ngFor="let item of rest.other.list; let i = index">
      <b> Khách hàng: </b> {{item.name}} <br>
      <b> Điện thoại: </b> {{item.phone}} <br>
      <b> Người làm: </b> {{item.user}} <br>
      <b> Thời gian: </b> {{item.time}} <br>
      <b> Kết luận: </b> {{item.note}}
      <div class="upperline">
        <div *ngIf="item.image.length">
          <img class="thumbnail-sm" *ngFor="let image of item.image" [src]="image" (click)="rest.view(image)">
        </div>
      </div>
      <div class="upperline">
        <img class="icon" src="/assets/icon/update.png" (click)="update(i)">
        <img class="icon" src="/assets/icon/delete.png" *ngIf="!item.treatid" (click)="remove(item.id)">
      </div>
    </div>
  </div>
</ion-content>

<ion-toolbar *ngIf="rest.isready">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.root()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="rest.navCtrl.navigateForward('/other/type')">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-label> Danh mục </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>