<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="rest.router.navigateByUrl('/setting')">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="rest.router.navigateByUrl('gopy')">
    <ion-fab-button>
      Góp ý
    </ion-fab-button>
  </ion-fab> -->

  <!-- <ion-toolbar>
    <ion-segment [(ngModel)]="rest.filter.vaccine.status" (ionChange)="onSegmentChange()">
      <ion-segment-button value="0"> Chưa gọi </ion-segment-button>
      <ion-segment-button value="1"> Đã gọi </ion-segment-button>
      <ion-segment-button value="2"> Đã tái chủng </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->

  <ion-card *ngFor="let item of this.rest.data.vaccine.list; let i = index">
    <ion-card-content>
      <div class="col-xs-6">
        Tên chủ: {{item.name}}
      </div>
      <div class="col-xs-6">
        Số điện thoại: {{item.number}}
      </div>
      Ngày tái chủng: {{item.calltime}} <br>
      Loại tái chủng: {{item.vaccine}} <br>
      {{item.note}} 
      <ion-button color="light" size="small" (click)="changeStatus(item.id)">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.navCtrl.pop()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insertModal()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="filterModal()">
        <ion-icon name="filter-outline"></ion-icon>
        <ion-label> Tìm kiếm </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
