<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="rest.root()"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item color="secondary">
    <ion-label position="stacked"> Tìm kiếm khách hàng </ion-label>
    <ion-input [(ngModel)]="key"> </ion-input>
    <img src="/assets/icon/customer-search.png" class="clear-img" slot="end" (click)="filter()">
  </ion-item>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="rest.navCtrl.navigateForward('gopy')">
    <ion-fab-button>
      Góp ý
    </ion-fab-button>
  </ion-fab> -->

  <div *ngIf="!rest.vaccine.keyword">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="0">
        <ion-label>
          Chưa gọi
          <ion-badge color="danger"> {{rest.vaccine.list[0].length}} </ion-badge>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>
          Không nghe
          <ion-badge color="danger"> {{rest.vaccine.list[1].length}} </ion-badge>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>
          Đã gọi
          <ion-badge color="danger"> {{rest.vaccine.list[2].length}} </ion-badge>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  
    <div *ngFor="let item of this.rest.vaccine.list[segment]; let i = index" [class]="item.over ? 'stl-card red' : status[item.status]">
      <div class="col-xs-6">
        Tên khách: {{item.name}} <br>
        Điện thoại: <a [href]="'tel:' + item.phone">{{item.phone}} <img class="icon" src="/assets/icon/tel-xs.png"></a> <br>
        <span *ngIf="item.petname"> Tên thú: {{item.petname}} <br> </span>
        Địa chỉ: {{item.address}}
      </div>
      <div class="col-xs-6">
        Ngày nhắc: {{item.calltime}} <br>
        Ngày đến: {{item.cometime}} <br>
        Loại nhắc: {{item.vaccine}} <br>
        <span *ngIf="item.called"> Gọi nhắc cuối: <span [class]="item.called == 'Hôm hay đã gọi' ? 'greening' : 'weight'"> {{item.called}} </span> </span>
      </div>
      <div class="upperline">
        Ghi chú: {{item.note}}
      </div>
      <img class="icon" src="/assets/icon/called.png" (click)="called(i)">
      <img class="icon" src="/assets/icon/uncalled.png" (click)="uncalled(i)">
      <!-- <img class="icon" *ngIf="rest.config.vaccine > 1" src="/assets/icon/done.png" (click)="done(i)"> -->
      <img class="icon" *ngIf="rest.config.vaccine > 1" src="/assets/icon/dead.png" (click)="dead(i)">
      <img class="right" *ngIf="rest.config.vaccine > 1" src="/assets/icon/update.png" (click)="update(i)">
    </div>
  </div>

  <div *ngIf="rest.vaccine.keyword">
    <div *ngFor="let item of this.rest.vaccine.list; let i = index" [class]="item.over ? 'stl-card red' : status[item.status]">
      <div class="col-xs-6">
        Tên khách: {{item.name}} <br>
        Điện thoại: <a [href]="'tel:' + item.phone">{{item.phone}} <img class="icon" src="/assets/icon/tel-xs.png"></a> <br>
        <span *ngIf="item.petname"> Tên thú: {{item.petname}} <br> </span>
        Địa chỉ: {{item.address}}
      </div>
      <div class="col-xs-6">
        Ngày nhắc: {{item.calltime}} <br>
        Ngày đến: {{item.cometime}} <br>
        Loại nhắc: {{item.vaccine}} <br>
        <span *ngIf="item.called"> Gọi nhắc cuối: <span [class]="item.called == 'Hôm hay đã gọi' ? 'greening' : 'weight'"> {{item.called}} </span> <br> </span>
        Trạng thái: <span class="bold"> {{status_text[item.status]}} </span> <br>
        Người tiêm: {{item.doctor}} 
      </div>
      <div class="upperline">
        Ghi chú: {{item.note}}
      </div>
      <img class="icon" src="/assets/icon/called.png" (click)="called(i)">
      <img class="icon" src="/assets/icon/uncalled.png" (click)="uncalled(i)">
      <!-- <img class="icon" *ngIf="rest.config.vaccine > 1" src="/assets/icon/done.png" (click)="done(i)"> -->
      <img class="icon" *ngIf="rest.config.vaccine > 1" src="/assets/icon/dead.png" (click)="dead(i)">
      <img class="right" *ngIf="rest.config.vaccine > 1" src="/assets/icon/update.png" (click)="update(i)">
    </div>
  </div>
</ion-content>

<ion-toolbar *ngIf="rest.isready">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.root()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="manager()">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>
          Quản lý
          <ion-badge color="danger" *ngIf="rest.vaccine.temp.length"> {{rest.vaccine.temp[0].length}} </ion-badge>
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>