<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      {{rest.site.title}}
    </ion-title>

    <ion-buttons slot="start">
      <ion-img [src]="rest.site.logo" class="logo" (click)="this.rest.navCtrl.navigateForward('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item>
    <ion-input [(ngModel)]="rest.congviec.timkiem.tukhoa" placeholder="Từ khóa"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Danh mục </ion-label>
    <ion-select [(ngModel)]="rest.congviec.timkiem.danhmuc">
      <ion-select-option value="">
        Không chọn
      </ion-select-option>
      <ion-select-option *ngFor="let danhmuc of rest.congviec.danhmuc" [value]="danhmuc.id">
        {{danhmuc.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item (click)="rest.congviec.timkiem.hoanthanh = rev[rest.congviec.timkiem.hoanthanh]">
    <ion-label> <b> Mức hoàn thành: </b> {{hoanthanh[rest.congviec.timkiem.hoanthanh]}} </ion-label>
  </ion-item>

  <ion-item (click)="rest.congviec.timkiem.denhan = rev[rest.congviec.timkiem.denhan]">
    <ion-label> <b> Quá hạn: </b> {{denhan[rest.congviec.timkiem.denhan]}} </ion-label>
  </ion-item>

  <!-- <ion-item *ngIf="rest.config.work > 1">
    <ion-label position="stacked"> Công việc của nhân viên </ion-label>
    <ion-select [(ngModel)]="rest.congviec.timkiem.nhanvien">
      <ion-select-option value="0"> - </ion-select-option>
      <ion-select-option *ngFor="let nhanvien of rest.home.doctor" [value]="nhanvien.userid"> {{nhanvien.name}}
      </ion-select-option>
    </ion-select> 
  </ion-item>-->

  <ion-button expand="full" (click)="khoitao()">
    Tìm kiếm
  </ion-button>

  <ion-refresher slot="fixed" (ionRefresh)="tailai($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="success" (click)="themcongvieclaplai()"> Lặp <br> lại </ion-fab-button>
      <ion-fab-button color="success" (click)="themcongvieclaplai(false)"> CV</ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="card-group" *ngFor="let danhmuc of rest.congviec.danhsach; let i = index">
    <div class="card-header"(click)="rest.congviec.danhsach[i].hienthi = !danhmuc.hienthi">
      {{danhmuc.name}}
      <ion-badge *ngIf="danhmuc.soluong" color="danger">
        {{danhmuc.soluong}}
      </ion-badge>
    </div>

    <div class="card-container" *ngIf="danhmuc.hienthi">
      <div *ngIf="danhmuc.child.length">
        <div class="card-group" *ngFor="let danhmuccon of danhmuc.child; let j = index">
          <div class="card-header" (click)="rest.congviec.danhsach[i].child[j].hienthi = !danhmuccon.hienthi">
            {{danhmuccon.name}}
            <ion-badge *ngIf="danhmuccon.soluong" color="danger">
              {{danhmuccon.soluong}}
            </ion-badge>
          </div>

          <div class="card-container" *ngIf="danhmuccon.hienthi">
            <div class="stl-card" style="border-bottom: 1px solid lightgray;"
              *ngFor="let congvieccon of danhmuccon.danhsach; let j = index">
              <div class="card-tickbox" (click)="xacnhan(i, j)">
                <img [src]="trangthai[congvieccon.status]">
              </div>
              <div class="card-content">
                <div> Công việc: {{congvieccon.title}} </div>
                <div *ngIf="rest.config.work > 1"> Người làm: {{congvieccon.assigntext}} </div>
                {{congvieccon.createtime}}
                <span *ngIf="congvieccon.expiretime.length" [class]="congvieccon.expire ? 'pinky' : ''">
                  hạn {{congvieccon.expiretime.length ? congvieccon.expiretime : ''}}
                </span>
                <br>
                <span class="pos" (click)="chitiet(i)"> chi tiết </span>
                <span class="pos" *ngIf="congvieccon.danhmuc.length"> {{congvieccon.danhmuc}} </span>
                <span class="pos" *ngIf="congvieccon.type > 0 && rest.config.work > 1" (click)="capnhat(i, j)"> sửa
                </span>
                <span class="pos red" *ngIf="congvieccon.type > 0 || rest.config.work > 1"
                  (click)="xoa(congvieccon.id)">
                  x
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="stl-card" style="border-bottom: 1px solid lightgray;"
        *ngFor="let congviec of danhmuc.danhsach; let j = index">
        <div class="card-tickbox" (click)="xacnhan(i)">
          <img [src]="trangthai[congviec.status]">
        </div>
        <div class="card-content">
          <div> Công việc: {{congviec.title}} </div>
          <div *ngIf="rest.config.work > 1"> Người làm: {{congviec.assigntext}} </div>
          {{congviec.createtime}}
          <span *ngIf="congviec.expiretime.length" [class]="congviec.expire ? 'pinky' : ''">
            hạn {{congviec.expiretime.length ? congviec.expiretime : ''}}
          </span>
          <br>
          <span class="pos" (click)="chitiet(i)"> chi tiết </span>
          <span class="pos" *ngIf="congviec.danhmuc.length"> {{congviec.danhmuc}} </span>
          <span class="pos" *ngIf="congviec.type > 0 && rest.config.work > 1" (click)="capnhat(i)"> sửa </span>
          <span class="pos red" *ngIf="congviec.type > 0 || rest.config.work > 1" (click)="xoa(congviec.id)"> x </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-toolbar *ngIf="rest.isready">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.root()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="rest.navCtrl.navigateForward('/work/repeat')">
        <ion-icon name="refresh-circle-outline"></ion-icon>
        <ion-label> CV lặp lại </ion-label>
      </ion-tab-button>
      <ion-tab-button *ngIf="rest.config.work > 1" (click)="rest.navCtrl.navigateForward('/work/depart')">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-label> Danh mục </ion-label>
      </ion-tab-button>
      <ion-tab-button *ngIf="rest.config.work > 1" (click)="rest.navCtrl.navigateForward('/work/statistic')">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label> Thống kê </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>