<ion-content>
  <div class="stl-card">
    Phiên bản hiện tại: {{rest.version}} <br>
    Phiên bản mới nhất: {{rest.link}} <br>
    Tải lại trang để cập nhật <ion-icon name="refresh-outline"></ion-icon> hoặc <ion-icon name="refresh-circle-outline"></ion-icon>
    <!-- <span *ngIf="platform.platforms().indexOf('android') >= 0"><br>- Với ứng dụng {{rest.site.title}} trên android hãy tải lại file cài đặt dưới <span style="color: red" (click)="download">đây</span> </span> -->
  </div>
</ion-content>
