.gray {
  background: lightgray;
}
.red {
  background: red;
}
.blue {
  background: lightblue;
}
.green {
  background: lightgreen;
}
.yellow {
  background: lightyellow;
}
.purple {
  background: purple;
  color: white;
}
.orange {
  background: orange;
}
