.gray {
  background: lightgray;
}
.red {
  background: red;
}
.blue {
  background: lightblue;
}
.green {
  background: lightgreen;
}
.yellow {
  background: lightyellow;
}
.purple {
  background: purple;
  color: white;
}
.orange {
  background: orange;
}
tr:nth-child(odd) td {
  border-bottom: 1px solid black;
}
tr:nth-child(even) td {
  border-bottom: 1px solid gray;
}
@media (min-width: 768px) {
  .table {
    width: 50%;
    margin: auto;
  }
}