.gray {
  background: lightgray;
}
.red {
  background: red;
  color: white;
}
.cyan {
  background: cyan;
}
.blue {
  background: lightblue;
}
.green {
  background: lightgreen;
}
.yellow {
  background: lightyellow;
}
.purple {
  background: purple;
  color: white;
}
.orange {
  background: orange;
}
tr:nth-child(odd) td {
  border-bottom: 1px solid #888;
}
tr:nth-child(even) td {
  border-bottom: 1px solid #aaa;
}
div[scrolly=true] {
  position: relative;
}

div[scrolly=true] {
  overflow-y: scroll;
}
.lastweekuser {
  border-bottom: 2px solid black;
}
.lastweekmanager {
  border-right: 2px solid black;
}
table tbody th {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
}

.nuttimkiem {
  background-color: lightcyan;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin: 0px 5px;
  color: black;
}
