<ion-header>
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button slot="end" color="light" fill="clear" (click)="rest.back()">
      Thêm mới
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="heading">
    Chọn xác nhận lịch nhắc cũ dể ghi đè
  </div>
  <div style="max-width: 400px; margin: auto; text-align: left;">
    Chủ nuôi: {{rest.temp.name}} <br>
    Điện thoại: {{rest.temp.phone}} <br>
  </div>
  <div *ngFor="let item of rest.vaccine.old; let i = index" [class]="status[item.status]">
    <div>
      Loại nhắc: {{item.vaccine}} <br>
      Ngày đến: {{item.cometime}} <br>
      Ngày nhắc: {{item.calltime}} <br>
      Ghi chú: {{item.note}} <br>
      <span *ngIf="item.called"> Gọi nhắc cuối: {{item.called}} <br> </span>
      Trạng thái: <span class="bold"> {{status_text[item.status]}} </span>
    </div>
    <img src="/assets/icon/insert.png" (click)="done(i)">
  </div>
</ion-content>