.thoigian {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: red;
  background: white;
  font-weight: bold;
}

.diemthi {
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 3em;
  text-align: center;
  color: red;
  background: white;
  font-weight: bold;
}

ion-label {
  opacity: 1 !important;
}