.thoigian {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: red;
  background: white;
  font-weight: bold;
}

.tuychon {
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 50px;
}

.nuttuychon {
  width: 45%;
  float: left;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
  background: white;
}

.nuttuychon:last-child {
  float: right;
}

.nuttuychon.dangchon {
  background: lightgreen;
}

.diemthi {
  position: fixed;
  height: 50px;
  line-height: 50px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  font-size: 3em;
  text-align: center;
  color: red;
  background: white;
  font-weight: bold;
}

ion-label {
  opacity: 1 !important;
}

.dung {
  background: lightgreen;
}

.sai {
  background: pink;
}

.tracnghiem {
  padding: 5px
}

.cauhoi {
  font-weight: bold;
  font-size: 1.5em;
}

.cautraloi {
  margin-left: 10px;
  padding: 5px;
  font-size: 1.2em;
  border-bottom: 1px solid gray;
}

.dachon {
  background: lightgray;
}

.diemliet {
  color: red;
  font-weight: bold;
}