<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      {{rest.site.title}}
    </ion-title>

    <ion-buttons slot="start">
      <ion-img [src]="rest.site.logo" class="logo" (click)="this.rest.navCtrl.navigateForward('/home')"></ion-img>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-img src="assets/icon/manual.png" (click)="rest.goManual('blood')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item>
    <ion-label position="stacked"> Tìm kiếm theo tên, số điện thoại </ion-label>
    <ion-input [(ngModel)]="rest.khachhang.tukhoa"> </ion-input>
  </ion-item>

  <ion-item class="half-item">
    <ion-label position="stacked"> Từ ngày </ion-label>
    <ion-datetime [(ngModel)]="rest.khachhang.tungay" displayFormat="DD/MM/YYYY" max="2100"> </ion-datetime>
  </ion-item>

  <ion-item class="half-item">
    <ion-label position="stacked"> Đến ngày </ion-label>
    <ion-datetime [(ngModel)]="rest.khachhang.denngay" displayFormat="DD/MM/YYYY" max="2100"> </ion-datetime>
  </ion-item>

  <ion-button expand="full" color="secondary" (click)="khoitao()">
    Tìm kiếm khách hàng
  </ion-button>

  <ion-fab slot="fixed" horizontal="start" vertical="bottom" *ngIf="rest.config.khachhang > 1" (click)="xuatfile()">
    <ion-fab-button>
      <ion-icon name="cloud-download-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom" *ngIf="rest.config.khachhang > 1" (click)="thongke()">
    <ion-fab-button>
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="stl-card" *ngFor="let item of rest.khachhang.danhsach; let i = index">
    <div> <b> {{loaikhachhang[item.loaidatlich]}}: </b> <span [class]="mautrangthai[item.trangthai]"> {{trangthai[item.trangthai]}} </span> </div>
    <div> <b> Tên khách: </b> {{item.tenkhach}} </div>
    <div> <b> Điện thoại: </b> {{item.dienthoai}} </div>
    <div> <b> Dịch vụ: </b> {{item.dichvu}} </div>
    <div *ngIf="item.idnhanvien" style="color: red;"> <b> Chỉ định: </b> {{item.nhanvien}} </div>
    <div> <b> Khách đặt: </b> {{item.thoigian}} </div>
    <div> <b> Thời gian: </b> {{item.ngaydat}} </div>
    <div *ngIf="item.ghichu.length"> <b> Ghi chú: </b> {{item.ghichu}} </div>
    <div class="upperline" *ngIf="item.trangthai < 1"></div>
    <div class="pos" (click)="chuyenspa(i)" *ngIf="item.trangthai < 1"> Khách đến </div>
    <div class="pos" (click)="henngay(i)" *ngIf="item.trangthai < 1"> Hẹn ngày khác </div>
    <div class="pos" (click)="khongden(i)" *ngIf="item.trangthai < 1"> Khách không đến </div>
  </div>
</ion-content>

<ion-toolbar *ngIf="rest.isready">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.root()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="homnay()">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-badge color="warning" *ngIf="rest.home.datlich2 > 0"> {{rest.home.datlich2}} </ion-badge>
        <ion-label> Hôm nay </ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="danhgia()">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-badge color="success" *ngIf="rest.home.datlich3 > 0"> {{rest.home.datlich3}} </ion-badge>
        <ion-label> Đánh giá </ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="chuyenmon()" *ngIf="rest.config.datlich > 1">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-label> Chuyên môn </ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="chinhanh()" *ngIf="rest.config.datlich > 1">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label> Chi nhánh </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>