<!-- <ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button color="light" slot="end" fill="clear" size="small" (click)="save()">
      Lưu
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item>
    <ion-label position="stacked"> Tìm vị trí </ion-label>
    <ion-input [(ngModel)]="keyword" (keyup)="search()">  </ion-input>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let i of map">
      <ion-label>{{list[i].name}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="list[i].checked"> </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content> -->
