<ion-toolbar color="success">
  <ion-button slot="start" color="light" fill="clear" (click)="rest.navCtrl.back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-title *ngIf="rest.action == 'admin'" style="text-align: center;">
    {{username}}
  </ion-title>
  <ion-button *ngIf="rest.action == 'admin'" slot="end" (click)="save()" color="light" fill="clear">
    Lưu
  </ion-button>
  <ion-button *ngIf="rest.action == 'drug'" slot="end" (click)="drugUpdate()" color="light" fill="clear">
    Cập nhật
  </ion-button>
</ion-toolbar>

<ion-content>
  <div *ngIf="rest.action == 'blood'">
    <ion-toolbar color="success">
      <ion-button color="light" fill="clear" (click)="this.rest.navCtrl.pop()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
    
    <ion-content>
      <p> Thống kê từ {{rest.temp.from}} đến {{rest.temp.end}} </p>
    
      <ion-item>
        Tổng số phiếu thử: {{rest.temp.number}}
      </ion-item>
      <ion-item>
        Tổng số mẫu thử: {{rest.temp.sample}}
      </ion-item>
      <ion-item>
        Tổng tiền chi: {{rest.temp.total}}
      </ion-item>
    
      <ion-card *ngFor="let item of rest.temp.list">
        <ion-card-header>
          {{item.name}}
        </ion-card-header>
        <ion-card-content>
          <p> Số lần xét nghiệm: {{item.number}} </p>
          <p> Số mẫu xét nghiệm: {{item.sample}} </p>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>

  <div *ngIf="rest.action == 'drug'" class="pad">
    <div class="endline-text">
      <b>Tên:</b>  {{rest.data.drug.list[rest.temp.index].name}}
    </div>
    <div class="endline-text">
      <b>Liều dùng:</b> <br>
      {{rest.data.drug.list[rest.temp.index].limits}}
    </div>
    <div class="endline-text">
      <b> Công dụng: </b> <br>
      {{rest.data.drug.list[rest.temp.index].effect}}
    </div>
    <div class="endline-text">
      <b> Tác dụng phụ: </b> <br>
      {{rest.data.drug.list[rest.temp.index].sideeffect}}
    </div>
    <div class="endline-text end">
      <b> Cơ chế hoạt động: </b> <br>
      {{rest.data.drug.list[rest.temp.index].mechanic}}
    </div>
    <div class="endline-text">
      <div *ngIf="rest.data.drug.list[rest.temp.index].image.length">
        <img class="thumbnail-sm" *ngFor="let image of rest.data.drug.list[rest.temp.index].image" [src]="image" (click)="view(image)">
      </div>
    </div>
  </div>

  <div *ngIf="rest.action == 'admin'">
    <ion-item *ngFor="let item of list">
      {{item.name}}: {{level[module[item.module]]}}
      <ion-button size="small" shape="round" slot="start" color="warning" (click)="change(item.module, -1)">
        <ion-icon name="caret-down-circle-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" shape="round" slot="end" color="secondary" (click)="change(item.module, 1)"> 
        <ion-icon name="caret-up-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <div *ngIf="rest.action == 'cart'">
    <ion-card>
      <ion-card-header>
        <div class="col-xs-6">
          <b> Tên khách </b>: {{rest.data.cart.list[this.rest.temp.index].customer}} <br>
          <b> Điện thoại </b>: {{rest.data.cart.list[this.rest.temp.index].phone}} <br>
          <b> Địa chỉ </b>: {{rest.data.cart.list[this.rest.temp.index].address}} <br>
          <b> Email </b>: {{rest.data.cart.list[this.rest.temp.index].mail}}
        </div>
        <div class="col-xs-6">
          <b> Tổng đơn </b>: {{rest.data.cart.list[this.rest.temp.index].total}} <br>
          <b> Ngày đặt </b>: {{rest.data.cart.list[this.rest.temp.index].time}} <br>
          <b> Trạng thái </b>: {{rest.data.cart.list[this.rest.temp.index].status}} <br>
          <b> Thanh toán </b>: {{rest.data.cart.list[this.rest.temp.index].method}}
        </div>
        <div>
          Ghi chú: {{rest.data.cart.list[this.rest.temp.index].note}}
        </div>
      </ion-card-header>

      <ion-card-content>
        <img class="icon" src="/assets/icon/pick.png" (click)="cartpick()">
        <img class="icon" src="/assets/icon/done.png" (click)="cartdonealert()">
        <table>
          <tr>
            <th> Mặt hàng </th>
            <th> Giá </th>
            <th> Số lượng </th>
            <th> Tổng </th>
          </tr>
          <tr *ngFor="let item of rest.data.cart.list[this.rest.temp.index].item">
            <td> {{item.name}} </td>
            <td> {{item.price}} </td>
            <td> {{item.number}} </td>
            <td> {{item.total}} </td>
          </tr>
        </table>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
