<ion-toolbar color="success">
  <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button *ngIf="rest.temp.act == 'profile' && !rest.temp.id" slot="end" (click)="insert()" color="light" fill="clear"
    size="small">
    Thêm
  </ion-button>
  <ion-button *ngIf="rest.temp.act == 'profile' && rest.temp.id" slot="end" (click)="updateprofile()" color="light" fill="clear"
    size="small">
    Cập nhật
  </ion-button>
  <ion-button *ngIf="rest.temp.act == 'target' && rest.temp.id > 0" slot="end" (click)="updateTarget()"
    color="light" fill="clear" size="small">
    Cập nhật
  </ion-button>
  <ion-button *ngIf="rest.temp.act == 'target' && rest.temp.id < 1" slot="end" (click)="insertTarget()"
    color="light" fill="clear" size="small">
    Thêm
  </ion-button>
</ion-toolbar>

<ion-content *ngIf="rest.isready">
  <div id="pwa" style="display: none;"> <input type="file" multiple id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()"> </div>

  <div *ngIf="rest.temp.act == 'profile'">
    <ion-item>
      <ion-label position="stacked"> Số điện thoại </ion-label>
      <ion-input [(ngModel)]="rest.temp.phone"> </ion-input>
      <img src="/assets/icon/customer-search.png" class="clear-img" slot="end" (click)="suggest()">
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Khách hàng </ion-label>
      <ion-input [(ngModel)]="rest.temp.name"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Địa chỉ </ion-label>
      <ion-input [(ngModel)]="rest.temp.address"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Tên thú cưng </ion-label>
      <ion-input [(ngModel)]="rest.temp.petname"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Trọng lượng </ion-label>
      <ion-input [(ngModel)]="rest.temp.weight"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Tuổi </ion-label>
      <ion-input [(ngModel)]="rest.temp.age"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Giới tính </ion-label>
      <ion-select [(ngModel)]="rest.temp.gender">
        <ion-select-option value="0"> - </ion-select-option>
        <ion-select-option value="1"> Đực </ion-select-option>
        <ion-select-option value="2"> Cái </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Loài động vật </ion-label>
      <ion-input [(ngModel)]="rest.temp.species"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Số Serial </ion-label>
      <ion-input type="number" [(ngModel)]="rest.temp.serial"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Loại mẫu </ion-label>
      <ion-select [(ngModel)]="rest.temp.sampletype">
        <ion-select-option *ngFor="let type of rest.profile.sampletype" [value]="type.id">
          {{type.name}}
        </ion-select-option>
      </ion-select>
      <ion-button slot="end" (click)="insertSelect('sampletype')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Số mẫu </ion-label>
      <ion-input type="number" [(ngModel)]="rest.temp.samplenumber"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ký hiệu mẫu </ion-label>
      <ion-input [(ngModel)]="rest.temp.samplesymbol"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Tình trạng mẫu </ion-label>
      <ion-select [(ngModel)]="rest.temp.samplestatus">
        <ion-select-option value="1">
          Đạt
        </ion-select-option>
        <ion-select-option value="0">
          Không đạt
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"> Bác sĩ thực hiện </ion-label>
      <ion-select [(ngModel)]="rest.temp.doctor">
        <ion-select-option *ngFor="let doctor of rest.home.doctor" [value]="doctor.userid">
          {{doctor.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"> Triệu chứng </ion-label>
      <ion-input [(ngModel)]="rest.temp.symptom"> </ion-input>
    </ion-item>

    <img class="thumbnail" src="/assets/image/insert.png" (click)="upload()">
    <span class="thumbnail-box" *ngFor="let item of rest.temp.image; let i = index">
      <span class="thumbnail-box-icon" (click)="remove(i)"> x </span>
      <img class="thumbnail" [src]="item">
    </span>

    <ion-item *ngFor="let item of rest.profile.target">
      <ion-label position="stacked"> Chỉ tiêu {{item.name}} </ion-label>
      <ion-input [(ngModel)]="rest.temp.target[item.id]"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="rest.temp.act == 'target'">
    <ion-item>
      <ion-label position="stacked"> Chỉ tiêu </ion-label>
      <ion-input [(ngModel)]="rest.temp.name"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Mô tả </ion-label>
      <ion-textarea [autoGrow]="true" autoGrow="true" [(ngModel)]="rest.temp.intro"> </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Đơn vị </ion-label>
      <ion-input autoGrow="true" [(ngModel)]="rest.temp.unit"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Trường giá trị </ion-label>
      <ion-input autoGrow="true" [(ngModel)]="rest.temp.flag"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Trường hợp tăng </ion-label>
      <ion-textarea [autoGrow]="true" autoGrow="true" [(ngModel)]="rest.temp.up"> </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Trường hợp giảm </ion-label>
      <ion-textarea [autoGrow]="true" autoGrow="true" [(ngModel)]="rest.temp.down"> </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Các bệnh liên quan </ion-label>
      <ion-textarea [autoGrow]="true" autoGrow="true" [(ngModel)]="rest.temp.disease"> </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Hướng điều trị </ion-label>
      <ion-textarea [autoGrow]="true" autoGrow="true" [(ngModel)]="rest.temp.aim"> </ion-textarea>
    </ion-item>
  </div>
</ion-content>