<ion-toolbar color="success">
  <ion-button color="secondary" fill="solid" size="small" (click)="rest.back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button *ngIf="rest.temp.act == 'profile'" slot="end" (click)="insert()" color="secondary" fill="solid" size="small">
    Thêm
  </ion-button>
  <!-- <ion-button *ngIf="rest.temp.act == 'type' && rest.temp.id > 0" slot="end" (click)="update()" color="secondary" fill="solid" size="small">
    Cập nhật
  </ion-button>
  <ion-button *ngIf="rest.temp.act == 'type' && rest.temp.id < 1" slot="end" (click)="insert()" color="secondary" fill="solid" size="small">
    Thêm
  </ion-button> -->
</ion-toolbar>

<ion-content *ngIf="rest.isready">
  <div *ngIf="rest.temp.act == 'profile'">
    <ion-item>
      <ion-label position="stacked"> Số điện thoại </ion-label>
      <ion-input [(ngModel)]="rest.temp.phone"> </ion-input>
      <img src="/assets/icon/customer-search.png" class="clear-img" slot="end" (click)="suggest()">
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Khách hàng </ion-label>
      <ion-input [(ngModel)]="rest.temp.name"> </ion-input>
    </ion-item>
      <ion-item>
      <ion-label position="stacked"> Địa chỉ </ion-label>
      <ion-input [(ngModel)]="rest.temp.address">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Tên thú cưng </ion-label>
      <ion-input [(ngModel)]="rest.temp.petname">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Trọng lượng </ion-label>
      <ion-input type="number" [(ngModel)]="rest.temp.weight">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Tuổi </ion-label>
      <ion-input type="number" [(ngModel)]="rest.temp.age">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Giới tính </ion-label>
      <ion-select [(ngModel)]="rest.temp.gender">
        <ion-select-option value="0">
          Đực
        </ion-select-option>
        <ion-select-option value="1">
          Cái
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Loài động vật </ion-label>
      <ion-select [(ngModel)]="rest.temp.species">
        <ion-select-option *ngFor="let species of rest.profile.species" [value]="species.id">
          {{species.name}}
        </ion-select-option>
      </ion-select>
      <ion-button slot="end" (click)="insertSelect('species')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Số Serial </ion-label>
      <ion-input type="number" [(ngModel)]="rest.temp.serial">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Loại mẫu </ion-label>
      <ion-select [(ngModel)]="rest.temp.sampletype">
        <ion-select-option *ngFor="let type of rest.profile.sampletype" [value]="type.id">
          {{type.name}}
        </ion-select-option>
      </ion-select>
      <ion-button slot="end" (click)="insertSelect('sampletype')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Số mẫu </ion-label>
      <ion-input type="number" [(ngModel)]="rest.temp.samplenumber">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ký hiệu mẫu </ion-label>
      <ion-input [(ngModel)]="rest.temp.samplesymbol">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Tình trạng mẫu </ion-label>
      <ion-select [(ngModel)]="rest.temp.samplestatus">
        <ion-select-option value="1">
          Đạt
        </ion-select-option>
        <ion-select-option value="0">
          Không đạt
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Triệu chứng </ion-label>
      <ion-input [(ngModel)]="rest.temp.symptom">  </ion-input>
    </ion-item>
    <ion-item *ngFor="let item of rest.profile.target">
      <ion-label position="stacked"> Chỉ tiêu {{item.name}} </ion-label>
      <ion-input [(ngModel)]="rest.temp.target[item.id]"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="rest.temp.action == 'type'">
    <ion-item>
      <ion-label position="stacked"> Chỉ tiêu </ion-label>
      <ion-textarea autoGrow="true" [(ngModel)]="rest.temp.name">  </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Mô tả </ion-label>
      <ion-textarea autoGrow="true" [(ngModel)]="rest.temp.intro">  </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Đơn vị </ion-label>
      <ion-textarea autoGrow="true" [(ngModel)]="rest.temp.unit">  </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Trường giá trị </ion-label>
      <ion-textarea autoGrow="true" [(ngModel)]="rest.temp.flag">  </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Trường hợp tăng </ion-label>
      <ion-textarea autoGrow="true" [(ngModel)]="rest.temp.up">  </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Trường hợp giảm </ion-label>
      <ion-textarea autoGrow="true" [(ngModel)]="rest.temp.down">  </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Các bệnh liên quan </ion-label>
      <ion-textarea autoGrow="true" [(ngModel)]="rest.temp.disease">  </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Hướng điều trị </ion-label>
      <ion-textarea autoGrow="true" [(ngModel)]="rest.temp.aim">  </ion-textarea>
    </ion-item>
  </div>
</ion-content>
