<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success" *ngIf="rest.isready">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="tailai($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="stl-card">
    Mã import nhắc tái khám:
    <div class="upperline" *ngFor="let item of loainhac; let i = index">
      {{item.code}}
      <img class="right icon" src="/assets/icon/info-xs.png" (click)="themloai(i)">
      <img class="right icon" src="/assets/icon/remove-xs.png" (click)="xoaloai(item.id)"> <br>
    </div>
    <div class="upperline">
      <img class="icon" src="/assets/icon/insert-xs.png" (click)="themloai()">
    </div>
  </div>

  <div class="stl-card">
    Mã import công điều trị:
    <div class="upperline" *ngFor="let item of loaicong; let i = index">
      {{item.code}}: {{item.name}}
      <img class="right icon" src="/assets/icon/info-xs.png" (click)="themloaicong(i)">
      <img class="right icon" src="/assets/icon/remove-xs.png" (click)="xoaloaicong(item.id)"> <br>
    </div>
    <div class="upperline">
      <img class="icon" src="/assets/icon/insert-xs.png" (click)="themloaicong()">
    </div>
  </div>
  
</ion-content>
