<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="rest.router.navigateByUrl('/setting')">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="rest.router.navigateByUrl('gopy')">
    <ion-fab-button>
      Góp ý
    </ion-fab-button>
  </ion-fab> -->

  <ion-item>
    <ion-label position="stacked"> Tìm kiếm </ion-label>
    <ion-input [(ngModel)]="rest.usg.filterKey">  </ion-input>
    <ion-button slot="end" color="secondary" (click)="filter()"> 
      tìm kiếm
    </ion-button>
  </ion-item>

  <ion-toolbar>
    <ion-segment [(ngModel)]="rest.usg.status" (ionChange)="onSegmentChange()">
      <ion-segment-button value="0"> Chưa gọi </ion-segment-button>
      <ion-segment-button value="1"> Đã gọi </ion-segment-button>
      <ion-segment-button value="2"> Đã tái chủng </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="stl-card" *ngFor="let item of rest.usg.data; let i = index" >
    <div class="col-xs-6">
      Tên khách: {{item.name}} <br>
      Điện thoại: {{item.phone}}
    </div>
    <div class="col-xs-6">
      Siêu âm lại: {{item.calltime}} <br>
      Thai dự đoán: {{item.vaccine}} <br>
    </div>
    <div *ngIf="item.note">
      Ghi chú: {{item.note}}
    </div>
    <img src="/assets/icon/note.png" (click)="note(i)">
    <img src="/assets/icon/called.png" (click)="called(i)">
    <img *ngIf="rest.config.module.vaccine > 1" src="/assets/icon/dead.png" (click)="dead(i)">
    <img *ngIf="rest.config.module.vaccine > 1" src="/assets/icon/update.png" (click)="update(i)">
  </div>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.navCtrl.pop()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="filterM()">
        <ion-icon name="filter-outline"></ion-icon>
        <ion-label> Tìm kiếm </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
