<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <!-- <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title> -->

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="rest.root()"></ion-img>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-img src="assets/icon/manual.png" (click)="rest.manual('usg')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item color="secondary">
    <ion-label position="stacked"> Tìm kiếm khách hàng </ion-label>
    <ion-input [(ngModel)]="rest.usg.key"> </ion-input>
    <img src="/assets/icon/customer-search.png" class="clear-img" slot="end" (click)="search()">
  </ion-item>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="rest.navCtrl.navigateForward('gopy')">
    <ion-fab-button>
      Góp ý
    </ion-fab-button>
  </ion-fab> -->
  <ion-refresher slot="fixed" (ionRefresh)="filterR($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="rest.config.usg > 1">
    <span (click)="docs()" *ngIf="rest.home.default.docscover.length">
      Bác sĩ: {{rest.home.default.docscover}}
    </span>
    <span (click)="docs()" *ngIf="!rest.home.default.docscover.length">
      Click lọc theo nhân viên
    </span>
    <ion-icon name="close-circle" color="danger" slot="end" (click)="cleardocs()"></ion-icon>
  </ion-item>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="0">
      <ion-label>
        Chưa sinh
        <ion-badge color="danger"> {{rest.usg.list[0].length}} </ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>
        Đã sinh
        <ion-badge color="danger"> {{rest.usg.list[1].length}} </ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>
        Không thai
        <ion-badge color="danger"> {{rest.usg.list[2].length}} </ion-badge>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngFor="let item of this.rest.usg.list[segment]; let i = index" [class]="status[item['over']]">
    <div class="col-xs-6">
      Tên khách: {{item['name']}} <br>
      Điện thoại:
      <a [href]="'tel:' + item['phone']">
        {{item['phone']}}
        <img class="icon" src="/assets/icon/tel-xs.png">
      </a> <br>
      Địa chỉ: {{item['address']}}
    </div>
    <div class="col-xs-6">
      Ngày đến: {{item['cometime']}} <br>
      <span *ngIf="item['number'] > 0"> Dự sinh: {{item['calltime']}} <br> </span>
      <span *ngIf="item['status'] != 6 || item['status'] != 1"> Ngày nhắc kế: {{item['recall']}} <br> </span>
      Sự kiện: <span class="bold"> {{header[item['status']]}} </span> <br>
      <span *ngIf="item['number'] > 0"> Số thai: {{item['number']}} <br> </span>
      Bác sĩ: {{item['doctor']}}
    </div>
    <div class="upperline">
      Ghi chú: {{item['note']}}
    </div>
    <img *ngIf="item['status'] == 0" class="icon" src="/assets/icon/pregnant.png" (click)="called(i)">
    <img *ngIf="item['status'] == 1" class="icon" src="/assets/icon/progesterone.png" (click)="progesterone(i)">
    <img *ngIf="item['status'] == 2" class="icon" src="/assets/icon/resound.png" (click)="called(i)">
    <img *ngIf="item['status'] == 3" class="icon" src="/assets/icon/birth.png" (click)="birth(i)">
    <img *ngIf="item['status'] == 4" class="icon" src="/assets/icon/deworm.png" (click)="called(i)">
    <img *ngIf="item['status'] == 5" class="icon" src="/assets/icon/firstvac.png" (click)="called(i)">
    <!-- <img *ngIf="item['status'] <= 5" class="icon" src="/assets/icon/done.png" (click)="done(i)"> -->
    <img *ngIf="item['status'] <= 6 && item['status'] > 1" class="icon" src="/assets/icon/repregnant.png"
      (click)="repregnant(i)">
    <img *ngIf="item['status'] <= 6" class="icon" src="/assets/icon/dead.png" (click)="dead(i)">
    <img *ngIf="rest.config.usg > 1" class="icon right" src="/assets/icon/update.png" (click)="update(i)">
  </div>
</ion-content>

<ion-toolbar *ngIf="rest.isready">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.root()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="manager()">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>
          Cần xác nhận
          <ion-badge color="danger" *ngIf="rest.usg.temp[0].length"> {{rest.usg.temp[0].length}} </ion-badge>
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>