<ion-toolbar color="success">
  <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content *ngIf="rest.isready">
  <ion-refresher slot="fixed" (ionRefresh)="tailai($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item (click)="themdanhmuc()">
    Thêm danh mục
    <ion-button slot="end" fill="clear">
      <ion-icon color="success" name="add"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item *ngFor="let danhmuc of rest.congviec.danhmuc; let i = index">
    {{danhmuc.route}} 
    <ion-button *ngIf="!danhmuc.child" slot="end" fill="clear" (click)="themdanhmuc(danhmuc.id)">
      <ion-icon color="success" name="add"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="suadanhmuc(i)">
      <ion-icon color="secondary" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="xoadanhmuc(danhmuc.id)">
      <ion-icon slot="end" color="danger" name="trash"></ion-icon>
    </ion-button>
  </ion-item>

  <div class="stl-card text-center" *ngIf="!rest.congviec.danhmuc.length">
    Không có danh mục
  </div>
</ion-content>