<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success" *ngIf="rest.isready">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-segment [(ngModel)]="loai">
    <ion-segment-button value="vaccine">
      <ion-label>
        Vaccine 
        <ion-badge color="danger"> {{rest.vaccine.dathem.vaccine.length}} </ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="sieuam">
      <ion-label>
        Siêu âm
        <ion-badge color="danger"> {{rest.vaccine.dathem.sieuam.length}} </ion-badge>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="loai == 'vaccine'">
    <div *ngFor="let item of rest.vaccine.dathem[loai]; let i = index" class="stl-card">
      <div class="col-xs-6">
        <span [class]="item['petname'].length ? '' : 'pinky'"> Thú cưng: {{item['petname']}} </span> <br>
        <span [class]="item['name'].length ? '' : 'redden'"> Tên khách: {{item['name']}} </span> <br>
        <span [class]="item['phone'].length ? '' : 'redden'"> Điện thoại: {{item['phone']}} </span>
      </div>
      <div class="col-xs-6">
        Ngày đến: {{item['cometime']}} <br>
        <span [class]="item['calltime'] ? '' : 'redden'"> Nhắc lại: {{item['calltime']}} </span> <br>
        Ngày thêm: {{item['time']}} <br>
      </div>
      <div class="upperline">
        Loại nhắc: {{item['vaccine']}} <br>
        Người làm: {{item['doctor']}} <br>
        <div *ngIf="item.note.length"> Ghi chú: {{item['note']}} </div>
      </div>
      <img *ngIf="segment == '0'" class="icon" src="/assets/icon/done.png" (click)="done(i)">
      <img *ngIf="segment == '0'" class="right" src="/assets/icon/update.png" (click)="update(i)">
      <img *ngIf="segment == '0'" class="right" src="/assets/icon/delete.png" (click)="remove(i)">
    </div>
  </div>

  <div *ngIf="loai == 'sieuam'">
    <div *ngFor="let item of rest.vaccine.dathem[loai]; let i = index" class="stl-card">
      <div class="col-xs-6">
        <span [class]="item['name'].length ? '' : 'redden'"> Tên khách: {{item['name']}} </span> <br>
        <span [class]="item['phone'].length ? '' : 'redden'"> Điện thoại: {{item['phone']}} </span> <br>
        Địa chỉ: {{item['address']}}
      </div>
      <div class="col-xs-6">
        Ngày đến: {{item['cometime']}} <br>
        <span *ngIf="item['number'] != '0'" [class]="item['calltime'] ? '' : 'redden'"> Dự sinh: {{item['calltime']}} <br> </span>
        Người làm: {{item['doctor']}} <br>
        Số thai dự kiến: {{item['number']}}
      </div>
      <div class="upperline">
        Ghi chú: {{item['note']}} <br>
        Ngày thêm: {{item['time']}} <br>
      </div>
      <img *ngIf="segment == '0'" class="icon" src="/assets/icon/done.png" (click)="done(i)">
      <img *ngIf="segment == '0'" class="right" src="/assets/icon/update.png" (click)="update(i)">
      <img *ngIf="segment == '0'" class="right" src="/assets/icon/delete.png" (click)="remove(i)">
    </div>
  </div>
</ion-content>