<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success" *ngIf="rest.isready">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button *ngIf="rest.config.vaccine > 1 && rest.action == 'temp' && toggle" slot="end" color="light"
      fill="clear" size="small" (click)="transferAll()">
      <ion-icon name="receipt-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="rest.action == 'temp' && ((toggle && segment == '0') || (rest.config.vaccine > 1 && toggle))"
      slot="end" color="light" fill="clear" size="small" (click)="removeAll()">
      <ion-icon name="trash-bin-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="rest.action == 'temp' && ((toggle && segment == '0') || (rest.config.vaccine > 1 && toggle))"
      slot="end" color="light" fill="clear" size="small" (click)="doneAll()">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="rest.action == 'temp' && !toggle" slot="end" color="light" fill="clear" size="small"
      (click)="toggle = true">
      <ion-icon name="checkbox-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="rest.action == 'temp' && toggle" slot="end" color="light" fill="clear" size="small"
      (click)="toggle = false; selected = {}">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-refresher slot="fixed" (ionRefresh)="reloadTemp($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="rest.config.vaccine > 1">
    <ion-label position="stacked"> Lọc các phiếu thêm trước ngày </ion-label>
    <ion-datetime [(ngModel)]="rest.vaccine.time" displayFormat="DD/MM/YYYY" max="2100" (ionChange)="filter()">
    </ion-datetime>
  </ion-item>

  <ion-item *ngIf="rest.config.vaccine > 1">
    <span (click)="docs()" *ngIf="rest.home.default.docscover.length">
      Bác sĩ: {{rest.home.default.docscover}}
    </span>
    <span (click)="docs()" *ngIf="!rest.home.default.docscover.length">
      Click lọc theo nhân viên
    </span>
    <ion-icon name="close-circle" color="danger" slot="end" (click)="cleardocs()"></ion-icon>
  </ion-item>

  <ion-segment [(ngModel)]="rest.vaccine.type" (click)="changeType()">
    <ion-segment-button value="vaccine">
      <ion-label>
        Vaccine 
        <ion-badge color="danger"> {{rest.vaccine.temp[0].length}} </ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="usg">
      <ion-label>
        Siêu âm
        <ion-badge color="danger"> {{rest.usg.temp[0].length}} </ion-badge>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="0">
      <ion-label>
        Chưa xác nhận
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>
        Đã xác nhận
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="rest.vaccine.type == 'vaccine'">
    <div *ngFor="let item of rest.vaccine.temp[segment]; let i = index" class="stl-card" (click)="selectbox(i)">
      <div [class]="toggle && selected[i] && segment == '0' ? 'tick' : (toggle && !selected[i] && segment == '0' ? 'untick' : '') "></div>
      <div class="col-xs-6">
        <span [class]="item['petname'].length ? '' : 'pinky'"> Thú cưng: {{item['petname']}} </span> <br>
        <span [class]="item['phone'].length ? '' : 'redden'"> Tên khách: {{item['name']}} </span> <br>
        <span [class]="item['phone'].length ? '' : 'redden'"> Điện thoại: {{item['phone']}} </span>
      </div>
      <div class="col-xs-6">
        Ngày đến: {{item['cometime']}} <br>
        <span [class]="item['calltime'] ? '' : 'redden'"> Nhắc lại: {{item['calltime']}} </span> <br>
        Ngày thêm: {{item['time']}} <br>
      </div>
      <div class="upperline">
        Loại nhắc: {{item['vaccine']}} <br>
        Người làm: {{item['doctor']}} <br>
        <div *ngIf="item.note.length"> Ghi chú: {{item['note']}} </div>
      </div>
      <img *ngIf="segment == '0'" class="icon" src="/assets/icon/done.png" (click)="done(i)">
      <img *ngIf="segment == '0'" class="right" src="/assets/icon/update.png" (click)="update(i)">
      <img *ngIf="segment == '0'" class="right" src="/assets/icon/delete.png" (click)="remove(i)">
    </div>
  </div>

  <div *ngIf="rest.vaccine.type == 'usg'">
    <div *ngFor="let item of rest.usg.temp[segment]; let i = index" class="stl-card" (click)="selectbox(i)">
      <div [class]="toggle && selected[i] ? 'tick' : (toggle && !selected[i] ? 'untick' : '') "></div>
      <div class="col-xs-6">
        <span [class]="item['phone'].length ? '' : 'redden'"> Tên khách: {{item['name']}} </span> <br>
        <span [class]="item['phone'].length ? '' : 'redden'"> Điện thoại: {{item['phone']}} </span> <br>
        Địa chỉ: {{item['address']}}
      </div>
      <div class="col-xs-6">
        Ngày đến: {{item['cometime']}} <br>
        <span *ngIf="item['number'] != '0'" [class]="item['calltime'] ? '' : 'redden'"> Dự sinh: {{item['calltime']}} <br> </span>
        Người làm: {{item['doctor']}} <br>
        Số thai dự kiến: {{item['number']}}
      </div>
      <div class="upperline">
        Ghi chú: {{item['note']}} <br>
        Ngày thêm: {{item['time']}} <br>
      </div>
      <img *ngIf="segment == '0'" class="icon" src="/assets/icon/done.png" (click)="done(i)">
      <img *ngIf="segment == '0'" class="right" src="/assets/icon/update.png" (click)="update(i)">
      <img *ngIf="segment == '0'" class="right" src="/assets/icon/delete.png" (click)="remove(i)">
    </div>
  </div>
</ion-content>