<ion-toolbar color="success">
  <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content *ngIf="rest.isready">
  <p class="underline">
    <b> Chỉ tiêu: </b>  {{rest.temp.ten}}
  </p>
  <p class="underline">
    <b> Mô tả: </b> {{rest.temp.gioithieu}}
  </p>
  <p class="underline">
    <b>Đơn vị:</b> {{rest.temp.donvi}}
  </p>
  <p class="underline">
    <b>Trường hợp tăng:</b> {{rest.temp.len}}
  </p>
  <p class="underline">
    <b>Trường hợp giảm:</b> {{rest.temp.xuong}}
  </p>
  <p class="underline">
    <b>Các bệnh liên quan:</b> {{rest.temp.benh}}
  </p>
  <p class="underline">
    <b>Hướng điều trị:</b> {{rest.temp.dieutri}}
  </p>
</ion-content>
