<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.root()"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="rest.router.navigateByUrl('gopy')">
    <ion-fab-button>
      Góp ý
    </ion-fab-button>
  </ion-fab> -->
  
  <ion-item class="item-label-class">
    <ion-label position="stacked"> Từ ngày </ion-label>
    <ion-datetime [(ngModel)]="rest.his.start" displayFormat="DD/MM/YYYY" max="2100">
    </ion-datetime>
  </ion-item>

  <ion-item class="item-label-class">
    <ion-label position="stacked"> Đến ngày </ion-label>
    <ion-datetime [(ngModel)]="rest.his.end" displayFormat="DD/MM/YYYY" max="2100"> </ion-datetime>
  </ion-item>

  <ion-item *ngIf="rest.config.his > 1">
    <span (click)="docs()" *ngIf="rest.home.default.docscover.length">
      Bác sĩ: {{rest.home.default.docscover}}
    </span>
    <span (click)="docs()" *ngIf="!rest.home.default.docscover.length">
      Click lọc theo nhân viên
    </span>
    <ion-icon name="close-circle" color="danger" slot="end" (click)="cleardocs()"></ion-icon>
  </ion-item>

  <ion-button expand="full" (click)="filter()">
    Lọc dữ liệu
  </ion-button>
  
  <div *ngFor="let item of rest.his.list; let i = index" [class]="insult[item.insult]">
    <div class="row">
      <div class="col-xs-6">
        Khách hàng: {{item.customer}} <br>
        Điện thoại: {{item.phone}} <br>
        Thú cưng: {{item.pet}}
      </div>
      <div class="col-xs-6">
        Người nhận: {{item.doctor}} <br>
        Ngày nhận: {{item.time}} <br>
        Tình trạng bệnh: {{status[item.status].name}}
      </div>

      <div>
        Tình trạng xuất viện: <span class="bold"> {{insult_text[item.insult]}} </span> 
      </div>
      <div>
        Tiền sử bệnh: {{item.his}} <img src="/assets/icon/insert-xs.png" (click)="insertHis(i)" *ngIf="item.insult < 1">
      </div>
      <span class="pos" *ngFor="let detail of item.detail; let j = index" (click)="view(i)">
        {{detail.time}}
      </span>
      <div class="upperline">
        <span *ngIf="rest.config.his > 1 && item.insult > 0">
          Đánh giá:
          <ion-icon [class]="item.rate >= 1 ? 'yellow' : ''" name="star" (click)="rate(item.id, 1)"></ion-icon>
          <ion-icon [class]="item.rate >= 2 ? 'yellow' : ''" name="star" (click)="rate(item.id, 2)"></ion-icon>
          <ion-icon [class]="item.rate >= 3 ? 'yellow' : ''" name="star" (click)="rate(item.id, 3)"></ion-icon>
        </span>
        
        <img class="right icon" src="/assets/icon/info.png" (click)="view(i)">
        <img *ngIf="(item.doctorid == rest.home.userid || rest.config.his > 1) && !isNumber(item.share)" class="right icon" src="/assets/icon/share-off.png" (click)="toggleShare(item.id, item.share)">
        <img class="right icon" src="/assets/icon/update.png" (click)="update(i)" *ngIf="(item.doctorid == rest.home.userid || rest.config.his > 1) && item.insult < 1">
        <img *ngIf="(item.doctorid == rest.home.userid || rest.config.his > 1) && item.share == '1'" class="right icon" src="/assets/icon/share-on.png" (click)="toggleShare(item.id, item.share)">
        <img class="right icon" src="/assets/icon/dead.png" (click)="dead(i)" *ngIf="(item.doctorid == rest.home.userid || rest.config.his > 1) && item.insult < 1">
        <img class="right icon" src="/assets/icon/return.png" (click)="return(i)" *ngIf="(item.doctorid == rest.home.userid || rest.config.his > 1) && item.insult < 1">
        <img *ngIf="(item.doctorid == rest.home.userid || rest.config.his > 1) && rest.config.his > 1" class="right icon" src="/assets/icon/delete.png" (click)="remove(i)">
        <img *ngIf="(item.doctorid == rest.home.userid || rest.config.his > 1) && rest.config.his > 1 && item.insult > 0" class="right icon" src="/assets/icon/hopital.png" (click)="hopital(item.id)">
      </div>
    </div>
  </div>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.root()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="statistic()">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label> Thống kê </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
