<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>

    <ion-button slot="end" color="light" fill="clear" (click)="rest.navCtrl.navigateForward('user')">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" color="light" fill="clear" (click)="notify()">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>
        <ion-badge color="danger" *ngIf="rest.home.notify"> {{rest.home.notify}} </ion-badge>
      </ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <div *ngIf="rest.config.spa > 0" class="box" (click)="rest.navCtrl.navigateForward('spa')">
    <ion-img src="assets/image/spa.png" class="box-image"></ion-img>
    <div class="box-title">
      Danh sách spa
    </div>
  </div>

  <div *ngIf="rest.config.vaccine > 0" class="box" (click)="rest.navCtrl.navigateForward('vaccine')">
    <span class="redbadge"> <span *ngIf="rest.home.vaccine.c"><img class="inline" src="assets/icon/called-xs.png"> {{rest.home.vaccine.c}}</span> <span *ngIf="rest.home.vaccine.t"> <img class="inline" src="assets/icon/done-xs.png"> {{rest.home.vaccine.t}} </span> </span>
    <ion-img src="assets/image/vaccine.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý vaccine
    </div>
  </div>

  <div *ngIf="rest.config.usg > 0" class="box" (click)="rest.navCtrl.navigateForward('usg')">
    <span class="redbadge"> <span *ngIf="rest.home.usg.c"><img class="inline" src="assets/icon/called-xs.png"> {{rest.home.usg.c}}</span> <span *ngIf="rest.home.usg.t"> <img class="inline" src="assets/icon/done-xs.png"> {{rest.home.usg.t}} </span> </span>
    <ion-img src="assets/image/usg.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý siêu âm
    </div>
  </div>
  
  <div *ngIf="rest.config.schedule > 0" class="box" (click)="rest.navCtrl.navigateForward('schedule')">
    <ion-img src="assets/image/schedule.png" class="box-image"></ion-img>
    <div class="box-title">
      Đăng ký lịch
    </div>
  </div>
  
  <div class="box" (click)="rest.navCtrl.navigateForward('cart')">
    <ion-img src="assets/image/cart.png" class="box-image"></ion-img>
    <div class="box-title">
      Đơn hàng
    </div>
  </div>

  <div *ngIf="rest.config.item > 0" class="box" (click)="rest.navCtrl.navigateForward('item')">
    <ion-img src="assets/image/item.png" class="box-image"></ion-img>
    <div class="box-title">
      Hàng hóa
    </div>
  </div>

  <div *ngIf="rest.config.drug > 0" class="box" (click)="rest.navCtrl.navigateForward('lookup')">
    <ion-img src="assets/image/drug.png" class="box-image"></ion-img>
    <div class="box-title">
      Tra cứu thuốc
    </div>
  </div>

  <div *ngIf="rest.config.blood > 0" class="box" (click)="rest.navCtrl.navigateForward('blood')">
    <ion-img src="assets/image/blood.png" class="box-image"></ion-img>
    <div class="box-title">
      Xét nghiệm máu
    </div>
  </div>

  <div *ngIf="rest.config.profile > 0" class="box" (click)="rest.navCtrl.navigateForward('profile')">
    <ion-img src="assets/image/profile.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý sinh hóa
    </div>
  </div>

  <!-- <div *ngIf="rest.config.ride > 0" class="box" (click)="rest.navCtrl.navigateForward('ride')">
    <ion-img src="assets/image/ride.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý xe
    </div>
  </div> -->

  <div *ngIf="rest.config.his > 0" class="box" (click)="rest.navCtrl.navigateForward('his')">
    <ion-img src="assets/image/his.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý lưu bệnh
    </div>
  </div>

  <div *ngIf="rest.config.price > 0" class="box" (click)="rest.navCtrl.navigateForward('price')">
    <ion-img src="assets/image/price.png" class="box-image"></ion-img>
    <div class="box-title">
      Giá sỉ
    </div>
  </div>

  <div class="box" (click)="rest.navCtrl.navigateForward('transport')">
    <ion-img src="assets/image/transport.png" class="box-image"></ion-img>
    <div class="box-title">
      Nhà xe
    </div>
  </div>
</ion-content>