<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>

    <ion-buttons slot="start">
      <ion-img src="assets/icon/user.png" (click)="rest.navCtrl.navigateForward('user')"></ion-img>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-img src="assets/icon/manual.png" (click)="rest.goManual('user')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <div *ngIf="rest.config.spa > 0" class="box" (click)="rest.navCtrl.navigateForward('spa')">
    <ion-img src="assets/image/spa.png" class="box-image"></ion-img>
    <div class="box-title">
      Danh sách spa
    </div>
  </div>

  <div *ngIf="rest.config.vaccine > 0" class="box" (click)="rest.navCtrl.navigateForward('vaccine')">
    <span class="redbadge">
      <span *ngIf="rest.home.vaccine"> {{rest.home.vaccine}} <img src="/assets/icon/vaccine-xs.png"> </span>
      <span *ngIf="rest.home.usg"> {{rest.home.usg}} <img src="/assets/icon/usg-xs.png"> </span>
    </span>
    <ion-img src="assets/image/calling.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý nhắc gọi
    </div>
  </div>
  
  <div *ngIf="rest.config.schedule > 0" class="box" (click)="rest.navCtrl.navigateForward('schedule')">
    <ion-img src="assets/image/schedule.png" class="box-image"></ion-img>
    <div class="box-title">
      Đăng ký lịch
    </div>
  </div>
  
  <div *ngIf="rest.config.cart > 0"  class="box" (click)="rest.navCtrl.navigateForward('cart')">
    <ion-img src="assets/image/cart.png" class="box-image"></ion-img>
    <div class="box-title">
      Đơn hàng
    </div>
  </div>
  
  <div *ngIf="rest.config.kaizen > 0"  class="box" (click)="rest.navCtrl.navigateForward('kaizen')">
    <ion-img src="assets/image/kaizen.png" class="box-image"></ion-img>
    <div class="box-title">
      Chiến lược Kaizen
    </div>
  </div>

  <div *ngIf="rest.config.item > 0" class="box" (click)="rest.navCtrl.navigateForward('item')">
    <ion-img src="assets/image/item.png" class="box-image"></ion-img>
    <div class="box-title">
      Hàng hóa
    </div>
  </div>

  <div *ngIf="rest.config.drug > 0" class="box" (click)="rest.navCtrl.navigateForward('lookup')">
    <ion-img src="assets/image/drug.png" class="box-image"></ion-img>
    <div class="box-title">
      Tra cứu thuốc
    </div>
  </div>

  <div *ngIf="rest.config.profile > 0" class="box" (click)="rest.navCtrl.navigateForward('profile')">
    <ion-img src="assets/image/profile.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý sinh hóa
    </div>
  </div>

  <div *ngIf="rest.config.physical > 0" class="box" (click)="rest.navCtrl.navigateForward('physical')">
    <ion-img src="assets/image/physical.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý sinh lý
    </div>
  </div>

  <div *ngIf="rest.config.ride > 0" class="box" (click)="rest.navCtrl.navigateForward('ride')">
    <ion-img src="assets/image/ride.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý xe
    </div>
  </div>

  <div *ngIf="rest.config.his > 0" class="box" (click)="rest.navCtrl.navigateForward('his')">
    <ion-img src="assets/image/his.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý bệnh nhân
    </div>
  </div>

  <div *ngIf="rest.config.price > 0" class="box" (click)="rest.navCtrl.navigateForward('price')">
    <ion-img src="assets/image/price.png" class="box-image"></ion-img>
    <div class="box-title">
      Giá sỉ
    </div>
  </div>

  <div *ngIf="rest.config.transport > 0"  class="box" (click)="rest.navCtrl.navigateForward('transport')">
    <ion-img src="assets/image/transport.png" class="box-image"></ion-img>
    <div class="box-title">
      Nhà xe
    </div>
  </div>

  <div *ngIf="rest.home.admin > 0" class="box" (click)="checkout()">
    <ion-img src="assets/image/accounting.png" class="box-image"></ion-img>
    <div class="box-title">
      Kế toán
    </div>
  </div>
</ion-content>