.loaitru, .boloaitru {
  float: right;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 27px;
  font-weight: bold;
  color: black;
  border-radius: 50%;
  border: 1px solid white;
}

.boloaitru {
  background: lightgreen;
}