<ion-header>
  <ion-toolbar color="success">
    <!-- <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title> -->

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="rest.root()"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item>
    <ion-label position="stacked"> Tìm kiếm hàng hóa </ion-label>
    <ion-input [(ngModel)]="rest.price.keyword">  </ion-input>
    <img src="/assets/icon/search.png" class="clear-img" slot="end" (click)="filter()">
  </ion-item>

  <div class="stl-card" *ngFor="let item of rest.price.list; let i = index">
    Hàng hóa: {{item.name}}
    <div class="upperline" *ngFor="let detail of item.detail">
      {{detail.name}}: {{detail.price}}
    </div>
    <div class="upperline">
      <img class="icon" src="/assets/icon/delete.png" (click)="remove(i)">
      <img class="icon" src="/assets/icon/update.png" (click)="update(i)">
    </div>
  </div>
</ion-content>

<ion-toolbar *ngIf="rest.isready">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.root()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>