<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="rest.router.navigateByUrl('gopy')">
    <ion-fab-button>
      Góp ý
    </ion-fab-button>
  </ion-fab> -->

  <ion-item color="secondary">
    <ion-label position="stacked"> Tìm kiếm khách hàng </ion-label>
    <ion-input [(ngModel)]="keyword"> </ion-input>
    <img src="/assets/icon/customer-search.png" class="clear-img" slot="end" (click)="search()">
  </ion-item>

  <div class="text-center" style="margin: 10px;">
    Ngày hiển thị: {{ time.timetodate(rest.spa.time) }}
  </div>

  <div *ngFor="let item of this.rest.spa.list; let i = index">
    <div *ngIf="(!rest.spa.toggle) || (rest.spa.toggle && item.status < 3)" [class]="status[item.status]">
      <div class="col-xs-6">
        Tên khách: {{item.name}} <br>
        Điện thoại: {{item.phone}} <br>
        <span *ngIf="item.name2.length"> Người nhận hộ: {{item.name2}} <br> </span>
        <span *ngIf="item.phone2.length"> Điện thoại: {{item.phone2}} <br> </span>
        Cân nặng: {{weight[item.weight]}}
      </div>
      <div class="col-xs-6">
        Người nhận: {{item.user}} <br>
        Thời gian nhận: {{item.time}} <br>
        <span *ngIf="item.duser"> Người làm: <span class="redden"> {{item.duser}} </span> <br> </span>
        <span *ngIf="item.luser"> Cập nhật cuối: {{item.luser}} lúc {{item.ltime}} <br> </span>
        Trạng thái: <span class="bold"> {{status_text[item.status]}} </span>
      </div>
      <div class="upperline">
        Dịch vụ: {{item.service}}
      </div>
      <div>
        Ghi chú: {{item.note}}
      </div>

      <div *ngIf="item.image.length">
        <img class="thumbnail-sm" *ngFor="let image of item.image" [src]="image" (click)="detail(image)">
      </div>
      <img *ngIf="item.status < 1" class="icon" src="/assets/icon/done.png" (click)="done(i)">
      <img *ngIf="item.status < 2" class="icon" src="/assets/icon/called.png" (click)="called(i)">
      <img *ngIf="item.status < 3" class="icon" src="/assets/icon/return.png" (click)="returned(i)">
      <img class="right" src="/assets/icon/update.png" (click)="update(i)">
    </div>
  </div>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.router.navigateByUrl('/home')">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm spa </ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="rest.spa.toggle" (click)="rest.spa.toggle = !rest.spa.toggle">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        <ion-label> Chưa về </ion-label>
      </ion-tab-button>
        <ion-tab-button *ngIf="!rest.spa.toggle" (click)="rest.spa.toggle = !rest.spa.toggle">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label> Toàn bộ </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="changeDate(-1)">
        <ion-icon name="play-skip-back-circle-outline"></ion-icon>
        <ion-label> Hôm trước </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="pickDate()">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label> Chọn ngày </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="changeDate(1)">
        <ion-icon name="play-skip-forward-circle-outline"></ion-icon>
        <ion-label> Hôm sau </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>