<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      {{rest.site.title}}
    </ion-title>

    <ion-buttons slot="start">
      <ion-img [src]="rest.site.logo" class="logo" (click)="rest.root()"></ion-img>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-img src="assets/icon/manual.png" (click)="rest.goManual('spa')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item class="item-label-class">
    <ion-label position="stacked"> Từ ngày </ion-label>
    <ion-datetime [(ngModel)]="rest.spa.search.start" displayFormat="DD/MM/YYYY" max="2100"> </ion-datetime>
  </ion-item>
  <ion-item class="item-label-class">
    <ion-label position="stacked"> Đến ngày </ion-label>
    <ion-datetime [(ngModel)]="rest.spa.search.end" displayFormat="DD/MM/YYYY" max="2100"> </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label (click)="changer()"> {{ntext[rest.spa.search.status]}} </ion-label>
  </ion-item>

  <ion-button expand="full" (click)="filter()">
    Lọc dữ liệu
  </ion-button>

  <ion-item color="secondary">
    <ion-label position="stacked"> Tìm kiếm hôm nay </ion-label>
    <ion-input [(ngModel)]="rest.spa.keyword" (ionChange)="search()"> </ion-input>
  </ion-item>

  <div *ngIf="rest.spa.filter.length">
    <div *ngFor="let item of this.rest.spa.filter; let i = index">
      <div [class]="status[item.status]">
        <div *ngIf="kiemtrathoigian(item.dtime, item.status)">
          <span class="canhbao"> Đã quá 30 phút chưa làm xong </span>
        </div>

        <div class="col-xs-6">
          Tên khách: {{item.name}} <br>
          Điện thoại: {{item.phone}} <br>
          <span *ngIf="item.name2.length"> Người nhận hộ: {{item.name2}} <br> </span>
          <span *ngIf="item.phone2.length"> Điện thoại: {{item.phone2}} <br> </span>
          <!-- Cân nặng: {{weight[item.weight]}} <br>
            Số con: {{item.number}} -->
        </div>
        <div class="col-xs-6">
          Ngày nhận: {{item.ftime}} <br>
          Giờ nhận: {{item.time}} <br>
        </div>
        <div class="upperline" *ngIf="segment == '0'">
          <span *ngIf="!item.duser"> Người nhận: {{item.user}} <br> </span>
          <span *ngIf="item.duser"> Người làm: <span class="bolder"> {{item.duser}} </span> <br> </span>
          <span *ngIf="item.luser"> Sửa cuối: {{item.luser}}, {{item.ltime}} <br> </span>
          Trạng thái: <span class="bold"> {{status_text[item.status]}} </span> <br>
          Dịch vụ: {{item.service}}
        </div>
        <div *ngIf="item.note.length">
          Ghi chú: {{item.note}}
        </div>

        <div *ngIf="item.tinhcach.length && toggle" class="bolder">
          Tính cách: {{item.tinhcach}}
        </div>

        <div class="upperline">
          <span *ngIf="item.image.length">
            <img class="thumbnail-sm" *ngFor="let image of item.image" [src]="image" (click)="rest.view(image)">
          </span>
          <span *ngIf="item.dimage.length">
            <img class="thumbnail-sm blue" *ngFor="let image of item.image" [src]="image" (click)="rest.view(image)">
          </span>
        </div>

        <img *ngIf="item.duser == 0" class="icon" src="/assets/icon/pick.png" (click)="pick(i)">
        <img *ngIf="rest.config.spa > 1" class="icon" src="/assets/icon/picktrans.png" (click)="picktrans(i)">
        <img *ngIf="rest.config.spa > 1" class="icon" src="/assets/icon/rnd.png" (click)="chuyenngaunhien(i)">
        <img *ngIf="item.status < 1" class="icon" src="/assets/icon/done.png" (click)="done(i)">
        <img *ngIf="item.status < 2" class="icon" src="/assets/icon/called.png" (click)="called(i)">
        <img *ngIf="item.status < 3" class="icon" src="/assets/icon/return.png" (click)="returned(i)">
        <img class="icon right" src="/assets/icon/update.png" (click)="update(i)">
        <img *ngIf="rest.config.spa > 1" class="icon right" src="/assets/icon/delete.png" (click)="remove(i)">
        <!-- <img class="icon right" src="/assets/icon/report.png" (click)="report(i)">
          <img class="icon right" src="/assets/icon/schedule.png" (click)="schedule(i)"> -->
        <!-- <div *ngIf="item.duser == 0" class="pos" (click)="pick(i)"> nhận làm </div>
          <div  *ngIf="item.duser == rest.home.userid || rest.home.admin || user.config.spa > 1" class="pos" (click)="picktrans(i)"> giao việc </div> -->
        <!-- <div *ngIf="item.status < 1" class="pos" (click)="done(i)"> đã xong </div>
          <div *ngIf="item.status < 2" class="pos" (click)="called(i)"> đã gọi </div>
          <div *ngIf="item.status < 3" class="pos" (click)="returned(i)"> đã về </div>
          <div class="pos" (click)="update(i)"> cập nhật </div>
          <div class="pos red" (click)="remove(i)"> xóa </div> -->
      </div>
    </div>
  </div>
  <div *ngIf="!rest.spa.filter.length" class="stl-card text-center">
    Không có thông tin
  </div>
</ion-content>

<ion-toolbar *ngIf="rest.isready">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.navCtrl.navigateForward('/home')">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button (click)="scheduleI()">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label> Nhắc Spa </ion-label>
      </ion-tab-button> -->

      <ion-tab-button (click)="thongke()">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label> Thống kê </ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button *ngIf="rest.config.spa > 1" (click)="rest.navCtrl.navigateForward('/spa/work')">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label> Phân công </ion-label>
      </ion-tab-button> -->

      <ion-tab-button *ngIf="rest.config.spa > 1" (click)="manager()">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label> Quản lý </ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button (click)="near()">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>
          Đặt lịch 
          <ion-badge color="danger" *ngIf="rest.spa.count"> {{rest.spa.count}} </ion-badge>
        </ion-label>
      </ion-tab-button> -->
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="toggle = !toggle">
  <ion-fab-button [color]="toggle ? 'secondary' : 'warning'">
    <div *ngIf="toggle">
      <ion-icon name="eye-outline"></ion-icon> <br>
      Ẩn
    </div>
    <div *ngIf="!toggle">
      <ion-icon *ngIf="!toggle" name="eye-off-outline"></ion-icon> <br>
      Hiện
    </div>
  </ion-fab-button>
</ion-fab>