<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      {{rest.site.title}}
    </ion-title>

    <ion-buttons slot="start">
      <ion-img [src]="rest.site.logo" class="logo" (click)="this.rest.navCtrl.navigateForward('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item>
    <button class="nuttimkiem" clear item-right (click)="chonngay(-1)">
      <ion-icon name="play-back"></ion-icon>
    </button>

    <ion-datetime style="width: 100%" [(ngModel)]="rest.danhgia.thoigian" displayFormat="MM/YYYY" max="2100"
      (ionChange)="khoitao()">
    </ion-datetime>

    <button class="nuttimkiem" clear item-right (click)="chonngay(1)">
      <ion-icon name="play-forward"></ion-icon>
    </button>
  </ion-item>

  <ion-refresher slot="fixed" (ionRefresh)="tailai($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="stl-card" *ngFor="let danhgia of rest.danhgia.danhsach">
    Khách hàng: {{danhgia.tenkhach}} <br>
    Điện thoại: {{danhgia.dienthoai}} <br>
    Nhân viên: {{danhgia.nhanvien}} <br>
    Lý do: {{danhgia.lydo}} <br>
    Nội dung: {{danhgia.noidung}} <br>
    Thời gian: {{danhgia.thoigian}} <br>
    <div class="upperline"></div>
    <ion-icon *ngFor="let muchailong of danhsachhailong" name="star" [class]="(muchailong <= danhgia.muchailong ? 'active danhgia' : 'danhgia')"></ion-icon>
  </div>
</ion-content>

<ion-toolbar *ngIf="rest.isready">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.root()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>