<ion-toolbar color="success">
  <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>

  <ion-button slot="end" (click)="capnhatxetnghiem()" color="light" fill="clear" size="small">
    {{rest.temp.id > 0 ? "Cập nhật" : "Thêm"}}
  </ion-button>
</ion-toolbar>

<ion-content *ngIf="rest.isready">
  <div id="pwa" style="display: none;"> <input type="file" multiple id="pwaphoto" #pwaphoto
      accept="image/x-png,image/jpeg" (change)="uploadPWA()"> </div>

  <img class="thumbnail" src="/assets/image/insert.png" (click)="upload()">
  <span class="thumbnail-box" *ngFor="let item of rest.temp.image; let i = index">
    <span class="thumbnail-box-icon" (click)="remove(i)"> x </span>
    <img class="thumbnail" [src]="item">
  </span>

  <ion-item>
    <ion-label position="stacked"> Số điện thoại </ion-label>
    <ion-input [(ngModel)]="rest.temp.phone"> </ion-input>
    <img src="/assets/icon/customer-search.png" class="clear-img" slot="end" (click)="suggest()">
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Khách hàng </ion-label>
    <ion-input [(ngModel)]="rest.temp.name"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Địa chỉ </ion-label>
    <ion-input [(ngModel)]="rest.temp.address"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Tên thú cưng </ion-label>
    <ion-input [(ngModel)]="rest.temp.petname"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Trọng lượng </ion-label>
    <ion-input [(ngModel)]="rest.temp.cannang"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Tuổi </ion-label>
    <ion-input [(ngModel)]="rest.temp.tuoi"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Giới tính </ion-label>
    <ion-select [(ngModel)]="rest.temp.gioitinh">
      <ion-select-option value="0"> - </ion-select-option>
      <ion-select-option value="1"> Đực </ion-select-option>
      <ion-select-option value="2"> Cái </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Loài động vật </ion-label>
    <ion-select [(ngModel)]="rest.temp.giong" (ionChange)="thaydoigiong()">
      <ion-select-option *ngFor="let giong of rest.xetnghiem.chitieugiong[rest.temp.xetnghiem]; let i = index" [value]="i">
        {{giong.tengiong}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Triệu chứng </ion-label>
    <ion-input [(ngModel)]="rest.temp.symptom"> </ion-input>
  </ion-item>

  <ion-item *ngFor="let chitieu of rest.temp.chitieu; let i = index">
    <ion-label position="stacked"> Chỉ tiêu {{chitieu.ten}} </ion-label>
    <ion-input [(ngModel)]="rest.temp.chitieu[i].giatri"></ion-input>
  </ion-item>
</ion-content>