<ion-header>
  <ion-toolbar color="success">
    <ion-button color="secondary" fill="solid" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-item color="secondary">
    <ion-label position="stacked"> Tìm kiếm khách hàng </ion-label>
    <ion-input [(ngModel)]="rest.usg.key"> </ion-input>
    <img src="/assets/icon/customer-search.png" class="clear-img" slot="end" (click)="search()">
  </ion-item>

  <div *ngFor="let item of this.rest.temp| slice:0:25 * page; let i = index" [class]="status[item['over']]">
    <div class="col-xs-6">
      Tên khách: {{item['name']}} <br>
      Điện thoại:
      <a [href]="'tel:' + item['phone']">
        {{item['phone']}}
        <img class="icon" src="/assets/icon/tel-xs.png">
      </a> <br>
      Địa chỉ: {{item['address']}}
    </div>
    <div class="col-xs-6">
      Ngày đến: {{item['cometime']}} <br>
      Dự sinh: {{item['calltime']}} <br>
      Ngày nhắc kế: {{item['recall']}} <br>
      Sự kiện: <span class="bold"> {{status_text[item['status']]}} </span> <br>
      Người tiêm: {{item['doctor']}}
    </div>
    <div class="upperline">
      Ghi chú: {{item['note']}}
    </div>
    <img *ngIf="item.status < 5" class="icon" src="/assets/icon/called.png" (click)="called(i)">
    <img class="icon" src="/assets/icon/dead.png" (click)="dead(i)">
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="moreVaccine($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Đang tải thêm...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
