<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>

  <ion-button *ngIf="rest.action == 'item'" slot="end" color="light" fill="clear" (click)="insertPosItemSubmit()">
    Thêm hàng hóa
  </ion-button>

  <ion-button *ngIf="rest.temp.id" slot="end" (click)="clear()" color="light" fill="clear">
    Hủy
  </ion-button>
  <ion-button *ngIf="!rest.temp.id && rest.action == 'vaccine'" slot="end" (click)="insertSubmit()" color="light" fill="clear">
    Thêm
  </ion-button>
  <ion-button *ngIf="rest.temp.id && rest.action == 'vaccine'" slot="end" (click)="updateSubmit()" color="light" fill="clear">
    Cập nhật
  </ion-button>
  <ion-button *ngIf="!rest.temp.id && rest.action == 'usg'" slot="end" (click)="insertUsgSubmit()" color="light" fill="clear">
    Thêm
  </ion-button>
  <ion-button *ngIf="rest.temp.id && rest.action == 'usg'" slot="end" (click)="updateUsgSubmit()" color="light" fill="clear">
    Cập nhật
  </ion-button>

  <ion-button *ngIf="rest.action == 'blood'" slot="end" (click)="bloodInsert()" color="light" fill="clear">
    Lưu
  </ion-button>
</ion-toolbar>

<ion-content>
  <div *ngIf="rest.action == 'item'">
    <ion-card>
      <ion-card-content>
        Vị trí: {{rest.temp.name}} <br>
        Hàng hóa: <div class="pos" *ngFor="let item of rest.temp.selected; let i = index" (click)="removePosItem(i)">
          {{item.name}} </div>
      </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-label position="stacked"> Tìm kiếm tên hàng hóa để thêm vào kho </ion-label>
      <ion-input [(ngModel)]="key"> </ion-input>
    </ion-item>
    <ion-button expand="full" (click)="itemPosFilter()">
      Tìm kiếm
    </ion-button>
    <div class="stl-card" *ngFor="let item of rest.temp.old; let i = index" (click)="insertPosItem(i)">
      {{item.name}}
    </div>
  </div>

  <div *ngIf="rest.action == 'blood'">
    <ion-item>
      <ion-label position="stacked"> Số lượng mẫu </ion-label>
      <ion-input [(ngModel)]="rest.temp.number" (ionChange)="changeNumber()"></ion-input>
    </ion-item> 
  
    <ion-item>
      <ion-label position="stacked"> Số đầu </ion-label>
      <ion-input [(ngModel)]="rest.temp.start" readonly="true"></ion-input>
      <ion-icon name="enter-outline" slot="end" (click)="inout('in')"></ion-icon>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked"> Số cuối </ion-label>
      <ion-input [(ngModel)]="rest.temp.end" readonly="true"></ion-input>
      <ion-icon name="exit-outline" slot="end" (click)="inout('out')"></ion-icon>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked"> Mục đích </ion-label>
      <ion-input [(ngModel)]="rest.temp.target"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="rest.action == 'admin'">
    <ion-item>
      <ion-label position="stacked"> Nhập username hoặc họ tên </ion-label>
      <ion-input [(ngModel)]="rest.temp.key"> </ion-input>
      <img src="/assets/icon/search.png" class="clear-img" slot="end" (click)="filterAdmin()">
    </ion-item>

    <div class="stl-card" *ngFor="let user of rest.temp.list">
      Tài khoản: {{home.username}} <br>
      Họ tên: {{home.fullname}} <br>
      <ion-button color="secondary" size="small" (click)="insertAdmin(home.userid)">
        Thêm người dùng
      </ion-button>
    </div>
  </div>

  <div *ngIf="rest.action == 'vaccine'">
    <ion-item>
      <ion-label position="stacked"> Số điện thoại </ion-label>
      <ion-input [(ngModel)]="rest.temp.phone" [disabled]="rest.temp.id"> </ion-input>
      <img src="/assets/icon/customer-search.png" [class]="rest.temp.id ? 'none clear-img': 'clear-img'" slot="end"
        (click)="suggest()">
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Khách hàng </ion-label>
      <ion-input [(ngModel)]="rest.temp.name" [disabled]="rest.temp.id"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Loại tiêm phòng </ion-label>
      <ion-select [(ngModel)]="rest.temp.vaccine">
        <ion-select-option *ngFor="let item of rest.vaccine.type; let i = index" [value]="i">
          {{item.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ngày tiêm phòng </ion-label>
      <ion-input [(ngModel)]="rest.temp.cometime"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ngày tái chủng </ion-label>
      <ion-input [(ngModel)]="rest.temp.calltime"></ion-input>
    </ion-item>

    <div class="stl-card" *ngFor="let item of this.rest.vaccine.new; let i = index">
      <div class="col-xs-6">
        Tên khách: {{item.name}} <br>
        Điện thoại: {{item.phone}}
      </div>
      <div class="col-xs-6">
        Tái chủng: {{item.calltime}} <br>
        Vaccine: {{item.vaccine}} <br>
      </div>
      <img src="/assets/icon/delete.png" (click)="remove(i)">
      <img src="/assets/icon/update.png" (click)="update(i)">
    </div>
  </div>

  <div *ngIf="rest.action == 'usg'">
    <ion-item>
      <ion-label position="stacked"> Số điện thoại </ion-label>
      <ion-input [(ngModel)]="rest.temp.phone" [disabled]="rest.temp.id"> </ion-input>
      <img src="/assets/icon/customer-search.png" [class]="rest.temp.id ? 'none clear-img': 'clear-img'" slot="end"
        (click)="suggest()">
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Khách hàng </ion-label>
      <ion-input [(ngModel)]="rest.temp.name" [disabled]="rest.temp.id"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ngày siêu âm </ion-label>
      <ion-input [(ngModel)]="rest.temp.cometime"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ngày siêu âm lại </ion-label>
      <ion-input [(ngModel)]="rest.temp.calltime"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Số thai dự kiến </ion-label>
      <ion-input [(ngModel)]="rest.temp.number"></ion-input>
    </ion-item>

    <div class="stl-card" *ngFor="let item of this.rest.usg.new; let i = index">
      <div class="col-xs-6">
        Tên khách: {{item.name}} <br>
        Điện thoại: {{item.phone}}
      </div>
      <div class="col-xs-6">
        Siêu âm lại: {{item.calltime}} <br>
        Thai dự kiến: {{item.number}} <br>
        <span *ngIf="item.recall"> Gọi cuối: {{item.recall}} </span>
      </div>
      <img src="/assets/icon/delete.png" (click)="removeUsg(i)">
      <img src="/assets/icon/update.png" (click)="updateUsg(i)">
    </div>
  </div>
</ion-content>