<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" (click)="save()" color="light" fill="clear">
    Thêm
  </ion-button>
</ion-toolbar>

<ion-content>
  <div *ngIf="rest.action == 'vaccine'">
    <ion-item>
      <ion-label position="stacked"> Số điện thoại </ion-label>
      <ion-input [(ngModel)]="rest.temp.phone"> </ion-input>
      <img class="clear-img" src="/assets/image/customer-search.png" slot="end" (click)="suggest()">
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Khách hàng </ion-label>
      <ion-input [(ngModel)]="rest.temp.customer"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Loại tiêm phòng </ion-label>
      <ion-select [(ngModel)]="rest.temp.vaccine">
        <ion-select-option *ngFor="let item of rest.data.vaccine.disease; let i = index" [value]="i">
          {{item.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ngày tiêm phòng </ion-label>
      <ion-input [(ngModel)]="rest.temp.cometime"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ngày tái chủng </ion-label>
      <ion-input [(ngModel)]="rest.temp.calltime"></ion-input>
    </ion-item>
  </div>
</ion-content>