<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button *ngIf="!rest.temp.id" slot="end" (click)="insertSubmit()" color="light" fill="clear">
    Thêm
  </ion-button>
  <ion-button *ngIf="rest.temp.id" slot="end" (click)="clear()" color="light" fill="clear">
    Hủy
  </ion-button>
  <ion-button *ngIf="rest.temp.id" slot="end" (click)="updateSubmit()" color="light" fill="clear">
    Cập nhật
  </ion-button>
</ion-toolbar>

<ion-content>
  <div *ngIf="rest.action == 'admin'">
    <ion-item>
      <ion-label position="stacked"> Nhập username hoặc họ tên </ion-label>
      <ion-input [(ngModel)]="rest.temp.key"> </ion-input>
      <img src="/assets/icon/search.png" class="clear-img" slot="end" (click)="filterAdmin()">
    </ion-item>

    <div class="stl-card" *ngFor="let user of rest.temp.list">
      Tài khoản: {{user.username}} <br>
      Họ tên: {{user.fullname}} <br>
      <ion-button color="secondary" size="small" (click)="insertAdmin(user.userid)">
        Thêm người dùng
      </ion-button>
    </div>
  </div>

  <div *ngIf="rest.action == 'vaccine'">
    <ion-item>
      <ion-label position="stacked"> Số điện thoại </ion-label>
      <ion-input [(ngModel)]="rest.temp.phone" [disabled]="rest.temp.id"> </ion-input>
      <img src="/assets/icon/customer-search.png" [class]="rest.temp.id ? 'none clear-img': 'clear-img'" slot="end" (click)="suggest()">
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Khách hàng </ion-label>
      <ion-input [(ngModel)]="rest.temp.name" [disabled]="rest.temp.id"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Loại tiêm phòng </ion-label>
      <ion-select [(ngModel)]="rest.temp.vaccine">
        <ion-select-option *ngFor="let item of rest.data.vaccine.disease; let i = index" [value]="i">
          {{item.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ngày tiêm phòng </ion-label>
      <ion-input [(ngModel)]="rest.temp.cometime"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Ngày tái chủng </ion-label>
      <ion-input [(ngModel)]="rest.temp.calltime"></ion-input>
    </ion-item>
  </div>

  <div class="stl-card" *ngFor="let item of this.rest.data.vaccine.new; let i = index">
    <div class="col-xs-6">
      Tên khách: {{item.name}} <br>
      Điện thoại: {{item.phone}}
    </div>
    <div class="col-xs-6">
      Tái chủng: {{item.calltime}} <br>
      Vaccine: {{item.vaccine}} <br>
    </div>
    <img src="/assets/icon/delete.png" (click)="remove(i)">
    <img src="/assets/icon/update.png" (click)="update(i)">
  </div>
</ion-content>