<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="secondary" fill="solid" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button color="secondary" slot="end" fill="solid" size="small" (click)="purchased()">
      Đã nhập
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="insert()">
    <ion-fab-button> Báo <br> nhập </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let item of rest.item.purchase">
      <ion-label>{{item.name}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="item.checked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
