<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="secondary" fill="solid" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button color="secondary" slot="end" fill="solid" size="small" (click)="purchased()">
      Đã nhập
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="insert()">
    <ion-fab-button> Báo <br> nhập </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="rest.item.purchase.recommend.length">
    <ion-list-header> Hàng báo nhập </ion-list-header>
    <ion-item *ngFor="let item of rest.item.purchase.recommend; let i = index">
      <ion-label>{{item.content}}: {{item.number}} </ion-label>
      <ion-checkbox slot="start" [(ngModel)]="item.checked"></ion-checkbox>
      <ion-button slot="end" fill="clear" (click)="info(i)">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="rest.item.purchase.item.length">
    <ion-list-header> Hàng báo hết </ion-list-header>
    <ion-item *ngFor="let item of rest.item.purchase.item">
      <ion-label>{{item.name}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="item.checked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
