<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="insert()">
    <ion-fab-button> Đề <br> xuất </ion-fab-button>
  </ion-fab>

  <div class="text-center" *ngIf="rest.item.purchase.recommend.length">
    <b>
      Hàng đề xuất nhập
    </b>
  </div>

  <div class="stl-card" *ngFor="let item of rest.item.purchase.recommend; let i = index">
    Nội dung: {{item.content}} <br>
    Số lượng đề xuất: {{item.number}} <br>
    <div *ngIf="item.show">
      Khách hàng: {{item.name}} <br>
      Số điện thoại: {{item.phone}} <br>
      Người đề xuất: {{item.user}} <br>
      Thời gian: {{time.timetodate(item.time * 1000)}} <br>
      <div class="upperline" *ngIf="item.image.length">
        <img class="thumbnail-sm" *ngFor="let image of item.image" [src]="image" (click)="rest.view(image)">
      </div>
    </div>
    <div class="upperline">
      <img *ngIf="rest.config.item > 1" class="icon right" src="/assets/icon/update.png" (click)="update(i)">
      <img *ngIf="rest.config.item > 1" class="icon right" src="/assets/icon/done.png" (click)="done(item.id)">
      <img *ngIf="rest.config.item > 1" class="icon right" src="/assets/icon/delete.png" (click)="remove(item.id)">
      <img *ngIf="!item.show" class="icon right" src="/assets/icon/up.png"
        (click)="rest.item.purchase.recommend[i].show = 1">
      <img *ngIf="item.show" class="icon right" src="/assets/icon/down.png"
        (click)="rest.item.purchase.recommend[i].show = 0">
    </div>
  </div>

  <div class="text-center" *ngIf="rest.item.purchase.item.length">
    <b>
      Hàng báo hết
    </b>
  </div>

  <div class="stl-card" *ngFor="let data of rest.item.purchase.item; let i = index">
    <div class="text-center">
      <b> {{data.user}} </b>
    </div>
    <div *ngFor="let item of data.list" class="upperline">
      Tên hàng: {{item.name}} <br>
      Số lượng đề xuất: {{item.outstock}} <br>
      Tồn: {{item.remain}} <br>
      <div class="upperline" *ngIf="item.image.length">
        <img class="thumbnail-sm" *ngFor="let image of item.image" [src]="image" (click)="rest.view(image)">
      </div>
      <div class="upperline">
        <img *ngIf="rest.config.item > 1" class="icon right" src="/assets/icon/update.png" (click)="updateStock(i)">
        <img *ngIf="rest.config.item > 1" class="icon right" src="/assets/icon/delete.png" (click)="removeStock(item.id)">
      </div>
    </div>
  </div>
</ion-content>
