<ion-header *ngIf="rest.isready">
  <ion-toolbar color="success">
    <ion-button color="light" fill="clear" size="small" (click)="rest.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rest.isready">
  <ion-row>
    <ion-col sizeXs="12" sizeSm="6" sizeMd="6" sizeLg="4" *ngFor="let voucher of rest.temp.danhsach">
      <div class="stl-card">
        <div> <b> {{voucher.ten}} </b> </div>
        <div> <b> {{voucher.mavoucher}} </b> </div>
        <div> Khách hàng: {{voucher.khachhang}} </div>
        <div> Điện thoại: {{voucher.dienthoai}} </div>
        <div> Ngày nhận: {{voucher.thoigian}} </div>
        <div> Hạn sử dụng: {{voucher.hansudung}} </div>
        <div class="upperline"></div>
        <img class="icon" src="/assets/icon/done.png" (click)="hoanthanh(voucher.id)">
      </div>
    </ion-col>
  </ion-row>
</ion-content>